

/*Gjemmer elementer som ikke skal vises før de skal :P*/
/*HIDE ELEMENTS*/
.kanalS, #barnehageButtonMobil, #skoleveienButtonMobil,
#kanalSButtonMobil, #MFLButtonMobil, .barnehage,
.MFL, #skoleveienMenu, #skolestartBtn, #forsteBtn,
#andreBtn, #morsmaalBtn, .skolestart, .forste, .andre, .morsmaal{
    display: none;
}
.kanalS,.mfl,.menu, .barnehage {
  margin-bottom: 140px;
}



/*---------Hovedområde!!---------*/

    /*----------Hovedmeny!!-----------*/
.menu-option {
/*  border: solid thin #444;
    background-color: white;*/
    text-align: center;
    margin-top: 80px;
}

.menu-option img {
    max-width: 300px;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;
}

.menu-option img:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */

}

.menu{
    margin-top: 80px;
    margin-bottom: 10px;

}
/*for å tilpasse skoleveien menyen til hovedmenyen!!*/
#skoleveienMenu .columns .menu-option{
    margin-top: -10px;
}

    /*----------Hovedmeny SLUTT!!-----------*/

body {
   /* background: url("/assets/barn/skoleveien.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    overflow:scroll;
    overflow-x: hidden;
}

img {
    transition:-webkit-filter 0.2s ease-in-out;
    -o-transition:-webkit-filter 0.2s ease-in-out; 
    -moz-transition:-webkit-filter 0.2s ease-in-out; 
    -webkit-transition:-webkit-filter 0.2s ease-in-out;        
}

.grey{
    filter: grayscale(1);
    -o-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
}


#background-image{
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100em;
  min-height: 100%;
}

#wrapper{
    min-height: 100%;
}

.align-center{
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;
}

.align-center:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */

}

/*---------Hovedområde SLUTT!!---------*/



/*---------Footer!!-----------*/
#footer{
    width: 100%;
    background-color: #858585;
    height: auto;
    margin-top: 50px;
    /*position: absolute;*/
    bottom: 0;
}

#footerLogo img{
    width: 160px;
    margin: 15px;
}

#footerMid{
    margin-top: 30px;
}
#footerMid li{
    float: left;
    margin: 5px;
    list-style: none;
}
#footerMid li a{
    color: rgb(250,250,250);
}
#footerMid li a:hover{
    color: rgb(200,200,200);
}

#socialLinks img{
    width: 40px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;

}

#socialLinks img:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}

/*---------Footer SLUTT!!-----------*/

.top-bar {
    height: 6em;
    background-color: #f2f2f2;
    border-bottom: solid thin #dcdcdc;
    color: #333;
    margin-bottom: 2em;
}

.title-area {
    height: 6em;
    border-bottom: solid thin #dcdcdc;
}

.top-bar-section ul {
    margin-top: 0px;
    height: 100% !important;
}

.top-bar-section ul li a {
    color: #333;
    background-color: #f2f2f2 !important;
}

.top-bar-section ul li a:hover {
    background-color: #333 !important;
}

.top-bar.expanded .title-area {
    background-color: #f2f2f2;
}

.top-bar .toggle-topbar.menu-icon a,
.toggle-topbar.menu-icon {
    color: #333;
}

.top-bar .toggle-topbar.menu-icon a span::after {
box-shadow: 0 0px 0 1px grey, 0 7px 0 1px grey, 0 14px 0 1px grey;
}


#hover1 li {
    display: block;
    width: 100%;
}

#hover1 ul li :hover {
    color: black;
}


@media only screen and (min-width: 40.063em) and (max-width: 64em) {

.top-bar {
    height: 5em;
    background-color: #f2f2f2;
    border-bottom: solid thin #dcdcdc;
    color: #333;
}

.title-area {
    height: 4em;
    border-bottom: solid thin #dcdcdc;
}

}



/*!!!!!!!!!!!!STYLE FOR BACK TO TOP BTN!!!!!!!!!!*/


@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/*!!!!!!!!!!!!STYLE FOR BACK TO TOP BTN SLUTT!!!!!!!!!!!*/


html, body {height: 100%;}


#main {
  overflow:auto;
  padding-bottom: 180px; /* must be same height as the footer */
}
