/*---------Headerområde!!---------*/

div#islam-background-container {
    background: url("/assets/barn/islam/islambkg.jpg") no-repeat fixed center bottom;
    background-position: center bottom;
    background-size: cover;
    background-color: white;
}

#mainHeader {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: solid thin #222;
    margin-bottom: 20px;
    position: fixed;
    z-index: 10;
}
#siteLogo {
    width: 200px;
    z-index: 1000 !important;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: none !important;
}


.menuHeader {
    width: 100%;
    height: 25px;
    top: 25px;
    position: relative;
}
/*---------Headerområde SLUTT!!---------*/
/*---------Hovedområde!!---------*/
/*----------Hovedmeny!!-----------*/

.menu-option {
    /*  border: solid thin #444;
    background-color: white;*/

    text-align: center;
    margin-top: 30px;
}
.menu-option img {
    max-width: 300px;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;
}
.menu-option img:hover {
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */

    -webkit-transform: scale(1.1, 1.1);
    /* Chrome, Safari, Opera */


}
#mainMenu {
    margin-top: 40px;
}


#backArrow{
    position: absolute;
    margin-top: 10px;
    width: 50px;
    right: 20px;
}


/*----------Hovedmeny SLUTT!!-----------*/


/*----------Gjelder kun på religion bildene på RLE siden-----------*/


.fag img {
    max-width: 300px;
}
/*---------Hovedområde SLUTT!!---------*/

/*HIDE ELEMENTS*/

.kanalS {
    display: none;
}
.barnehage {
    /*display: none;*/
}

/*HINDUISME*/



