div .jodedom-background-container {
    background: url("/assets/barn/islam/islambkg.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    background-color: rgba(0,163,204, 0.3);
}