/*---------Headerområde!!---------*/

#mainHeader {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: solid thin #222;
    margin-bottom: 20px;
    position: fixed;
    z-index: 10;
}
#siteLogo {
    width: 200px;
    z-index: 1000 !important;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: none !important;
}


.menuHeader {
    width: 100%;
    height: 25px;
    top: 25px;
    position: relative;
}
/*---------Headerområde SLUTT!!---------*/
/*---------Hovedområde!!---------*/
/*----------Hovedmeny!!-----------*/

.menu-option {
    /*  border: solid thin #444;
    background-color: white;*/

    text-align: center;
    margin-top: 30px;
}
.menu-option img {
    max-width: 300px;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;
}
.menu-option img:hover {
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */

    -webkit-transform: scale(1.1, 1.1);
    /* Chrome, Safari, Opera */


}
#mainMenu {
    margin-top: 40px;
}


#backArrow{
    position: absolute;
    margin-top: 10px;
    width: 50px;
    right: 20px;
}


/*----------Hovedmeny SLUTT!!-----------*/

body {
    background: url("/assets/barn/hinduisme/hinduismebak.jpg") no-repeat;
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
}

.hinduisme {

}
/*----------Gjelder kun på religion bildene på RLE siden-----------*/



.bilde-hover {
    margin-bottom: 15px;
}
/*----------SLUTT!!-----------*/

.align-center{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;

}



.align-center:hover{
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1, 1.1);
    /* Chrome, Safari, Opera */



}

.fag img {
    max-width: 300px;
}
/*---------Hovedområde SLUTT!!---------*/

/*HIDE ELEMENTS*/

.kanalS {
    display: none;
}
.barnehage {
    /*display: none;*/
}
#test{
    min-height: 100%;
}

.test{
    min-height: 100%;
    margin-bottom: 50px;
}
/*HINDUISME*/

/*.top-bar {
    height: 52px;
    background-color: #f2f2f2;
    border-bottom: solid thin #dcdcdc;
}
.title-area {
    height: 52px;
    border-bottom: solid thin #dcdcdc;
}
.top-bar-section ul {
    margin-top: 0px;
    height: 100% !important;

}
.top-bar-section ul li a {
    color: black;
    background-color: #f2f2f2 !important;
}
.top-bar-section ul li a:hover {
    background-color: grey !important;
}
.top-bar.expanded .title-area {
    background-color: #f2f2f2;
}
.top-bar .toggle-topbar.menu-icon a, .toggle-topbar.menu-icon {
    color: grey;
}
.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0px 0 1px grey, 0 7px 0 1px grey, 0 14px 0 1px grey;
}/*

/*STYLING PÅ TILBAKE TIL TOP KNAPPEN*/


/*END PÅ STYLING PÅ TILBAKE TIL TOP*/

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }

    #backArrow{
        position: absolute;
        margin-top: 10px;
        width: 80px;
        right: 35px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}


@media only screen and (min-width: 40.063em) {
.top-bar-section li:not(.has-form) a:not(.button) {
line-height: 52px;
}
}

@media only screen and (min-width: 40.063em) {
.contain-to-grid .top-bar {
max-width: 69.5rem;

}}

.contain-to-grid {
    background-color: #f2f2f2;
}

#wrapper {
    max-height: 100%;
}
