div .religion-background-wrapper {
    background: url("/assets/barn/rlebakgrunn.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    background-color: rgba(255,214,133, 0.3);
}