<!-- mobil meny -->
  <div id="barnehageButtonMobil" class="small-12 columns">
    <div class="menu-option">
      <img draggable="false" src="/assets/barn/menyer/barnehage.png" alt="barnehage meny">
    </div>
  </div>
  <!-- mobil meny SLUTT!-->
  <div class="row barnehage">
    <div class="large-3 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/barnehage/biblioteket.png" alt="bibliotek fag">
      </div>
    </div>
    <div class="large-3 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/barnehage/billehagen.png" alt="billehagen fag">
      </div>
    </div>
    <div class="large-3 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/barnehage/musikkfilm.png" alt="mysikkfilm fag">
      </div>
    </div>
    <div class="large-3 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/barnehage/TilDeVoksene.png" alt="til de voksene fag">
      </div>
    </div>
    <div class="large-3 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/barnehage/trampoline.png" alt="trampoline fag">
      </div>
    </div>
    <div class="large-3"></div>
  </div>