 <!-- mobil meny -->
  <div id="kanalSButtonMobil" class="small-12 columns">
    <div class="menu-option">
      <img draggable="false" src="/assets/barn/menyer/kanalS.png" alt="kanalS meny">
    </div>
  </div>
  <!-- mobil meny SLUTT!-->
  <div class="row kanalS">
    <div class="large-4 small-6 columns">
      <div class="align-center">
         <%=link_to image_tag("barn/kanalS/RLE.png", border: 0),  {action: 'rle', controller: 'static_pages/barn'},{class: 'dock-item'}%>
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/sammfunn.png" alt="samfunnsfag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/grunnlovsjub.png" alt="grunnlovs jubeleums fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/historieNorge.png" alt="norgeshistorie fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/historieEuropa.png" alt="historie om europa fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/kunst.png" alt="kunst fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/matOghelse.png" alt="mat og helse fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/matte.png" alt="matte fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/naturfag.png" alt="naturfag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/norsk.png" alt="norsk fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/Engelsk.png" alt="engelsk fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/kanalS/sammfunn.png" alt="samfunnsfag">
      </div>
    </div>
  </div>