<div class="row menu">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-3 medium-6 columns barnehageButton">
          <div class="menu-option">
            <img draggable="false" src="/assets/barn/menyer/barnehage.png" alt="barnehage meny">
          </div>
        </div>
        <div class="large-3 medium-6 columns skoleveienButton">
          <div class="menu-option">
            <img draggable="false" src="/assets/barn/menyer/skoleveien.png" alt="skoleveien meny">
          </div>
        </div>
        <div class="large-3 medium-6 columns kanalSButton">
          <div class="menu-option">
            <img draggable="false" src="/assets/barn/menyer/kanalS.png" alt="kanalS meny">
          </div>
        </div>
        <div draggable="false" class="large-3 medium-6 columns MFLButton">
          <div class="menu-option">
            <img src="/assets/barn/menyer/MFL.png" alt="MFL meny">
          </div>
        </div>
      </div>
    </div>
  </div>