<!-- mobil meny -->
  <div id="MFLButtonMobil" class="small-12 columns">
    <div class="menu-option">
      <img draggable="false" src="/assets/barn/menyer/MFL.png" alt="MFL meny">
    </div>
  </div>
  <!-- mobil meny SLUTT!-->
  <div class="row MFL">
    <div class="large-4 small-12 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/mfl/mflbarnehage.png" alt="barnehage fag">
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/mfl/mflmatematikk.png" alt="matematikk fag">
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <div class="align-center">
        <img draggable="false" src="/assets/barn/mfl/mflnaturfag.png" alt="naturfag">
      </div>
    </div>
  </div>