<!-- mobil meny -->
  <div id="skoleveienButtonMobil" class="small-12 columns">
    <div class="menu-option">
      <img draggable="false" src="/assets/barn/menyer/skoleveien.png" alt="skoleveien meny">
    </div>
  </div>
  <!-- mobil meny SLUTT!-->
  <div class="row menu" id="skoleveienMenu">
    <div class="large-12 columns">
      <div class="row">
        <div id="forsteButton" class="large-3 medium-6 small-6 columns">
          <div class="menu-option">
            <img draggable="false" src="/assets/barn/menyer/forste.png" alt="1-2 klasse meny">
          </div>
        </div>
        <div id="andreButton" class="large-3 medium-6 small-6 columns">
          <div class="menu-option">
            <img draggable="false" src="/assets/barn/menyer/andre.png" alt="3-4 klasse meny">
          </div>
        </div>
        <div id="morsmaalButton" class="large-3 medium-6 small-6 columns">
          <div class="menu-option">
            <img draggable="false" src="/assets/barn/menyer/morsmaal.png" alt="morsmål meny">
          </div>
        </div>
        <div id="skolestartButton" class="large-3 medium-6 small-6 columns">
          <div class="menu-option">
            <img draggable="false" src="/assets/barn/menyer/skolestart.png" alt="skolestart meny">
          </div>
        </div>
      </div>
    </div>
  </div>