<div id="religion-background-wrapper">


<section class="test-section">

  <div class="row">
    <div class="large-12 columns">
      <h1 class="fagh">ENGELSK</h1>
    </div>
  </div>

  <div class="row">
    <ul class="breadcrumbs">
        <li><a href="/static_pages/barn/forside.html">Hjem</a></li>
        <li class="unavailable"><a href="#">Kanal S</a></li>
        <li class="current"><a href="/static_pages/barn/rle">RLE</a></li>
    </ul>
  </div>



  <div class="test">

    <div class="row">

      <div class="large-3 small-6 medium-4 columns">
        <div class="align-center  bilde-hover">
          <a href="#"><img src="http://placehold.it/350x150" draggable="false" alt="placeholder"/></a>
        </div>
      </div>

      <div class="large-3 small-6 medium-4 columns">
        <div class="align-center  bilde-hover">
          <a href="#"><img src="http://placehold.it/350x150" draggable="false" alt="placeholder"></a>
        </div>
      </div>

      <div class="large-3 small-6 medium-4 columns">
        <div class="align-center  bilde-hover">
          <a href="#"><img src="http://placehold.it/350x150" draggable="false" alt="placeholder"></a>
        </div>
      </div>

      <div class="large-3 small-6 medium-4 columns">
        <div class="align-center  bilde-hover">
          <a href="#"><img src="http://placehold.it/350x150" draggable="false" alt="placeholder"></a>
        </div>
      </div>

      <div class="large-3 small-6 medium-4 columns">
        <div class="align-center  bilde-hover">
          <a href="#"><img src="http://placehold.it/350x150" draggable="false" alt="placeholder"></a>
        </div>
      </div>

      <div class="large-3 small-6 medium-4 columns">
        <div class="align-center  bilde-hover">
          <img src="/assets/barn/RLE/sikhisme.png" draggable="false" alt="Sikhismebilde">
        </div>
      </div>

      <div class="large-3 small-6 medium-4 columns">
        <div class="align-center  bilde-hover">
          <a href="#"><img src="http://placehold.it/350x150" draggable="false" alt="placeholder"></a>
        </div>
      </div>

      <div class="large-3 small-6 medium-4 columns">
        <div class="align-center  bilde-hover">
          <a href="#"><img src="http://placehold.it/350x150" draggable="false" alt="placeholder"></a>
        </div>
      </div>

      <div class="large-3 small-6 medium-4 columns">
        <div class="align-center  bilde-hover">
          <a href="#"><img src="http://placehold.it/350x150" draggable="false" alt="placeholder"></a>
        </div>
      </div>
      <div class="large-3"></div>
    </div>
  </div>
</section>

</div>
