<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forside Barn</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/forsideStyle.css" />
  <link rel="stylesheet" href="css/mobileStyle.css" />

  <script src="js/vendor/modernizr.js"></script>
</head>

<body>
<!--MENU-->
<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="../index.html">
          <img id="siteLogo" src="img/logos/salaby_logo_enkel_rød.png" alt="logo">
        </a>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="../Voksen/voksenForside.html">Lærer/foreldre siden</a>
        </li>
        <li><a href="#">Min side</a>
        </li>
        <li><a href="#">Logg ut</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
<div id="wrapper">
  <!--!!!!!!!!!!!!!!MENY!!!!!!!!!!!!!!-->
  <div class="row menu">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-3 medium-6 columns barnehageButton">
          <div class="menu-option">
            <img src="img/barnehage.png" alt="barnehage meny">
          </div>
        </div>
        <div class="large-3 medium-6 columns skoleveienButton">
          <div class="menu-option">
            <img src="img/Skoleveien.png" alt="skoleveien meny">
          </div>
        </div>
        <div class="large-3 medium-6 columns kanalSButton">
          <div class="menu-option">
            <img src="img/kanalS.png" alt="kanalS meny">
          </div>
        </div>
        <div class="large-3 medium-6 columns MFLButton">
          <div class="menu-option">
            <img src="img/MFL.png" alt="MFL meny">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--!!!!!!!!!!!!!!MENY SLUTT!!!!!!!!!!!!!!-->

  <!--!!!!!!!!!!!!!!!!MAIN CONTENT!!!!!!!!!!!!!!!!!!!!-->

  <!--!!!!!!!!!!!!!!!!!BARNEHAGE FAG!!!!!!!!!!!!!!!!!!!!!!-->
  <!-- mobil meny -->
  <div id="barnehageButtonMobil" class="small-12 columns">
    <div class="menu-option">
      <img src="img/barnehage.png" alt="barnehage meny">
    </div>
  </div>
  <div class="row barnehage">
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/barnehage/biblioteket.png" alt="bibliotek fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/barnehage/billehagen.png" alt="billehagen fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/barnehage/musikkfilm.png" alt="mysikkfilm fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/barnehage/TilDeVoksene.png" alt="til de voksene fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/barnehage/trampoline.png" alt="trampoline fag">
      </div>
    </div>
  </div>
  <!--!!!!!!!!!!!!!!!!BARNEHAGE FAG SLUTT!!!!!!!!!!!!!!!!!!!!-->

  <!--!!!!!!!!!!!!!!!!SKOLEVEIEN MENY!!!!!!!!!!!!!!!!!!!!-->
  <!-- mobil meny -->
  <div id="skoleveienButtonMobil" class="small-12 columns">
    <div class="menu-option">
      <img src="img/Skoleveien.png" alt="skoleveien meny">
    </div>
  </div>
  <div class="row menu" id="skoleveienMenu">
    <div class="large-12 columns">
      <div class="row">
        <div id="forste" class="large-3 medium-6 small-6 columns">
          <div class="menu-option">
            <img src="img/undermenySkoleVeien/forste.png" alt="1-2 klasse meny">
          </div>
        </div>
        <div id="andre" class="large-3 medium-6 small-6 columns">
          <div class="menu-option">
            <img src="img/undermenySkoleVeien/andre.png" alt="3-4 klasse meny">
          </div>
        </div>
        <div id="morsmaal" class="large-3 medium-6 small-6 columns">
          <div class="menu-option">
            <img src="img/undermenySkoleVeien/morsmal.png" alt="morsmål meny">
          </div>
        </div>
        <div id="skolestart" class="large-3 medium-6 small-6 columns">
          <div class="menu-option">
            <img src="img/undermenySkoleVeien/skolestart.png" alt="skolestart meny">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--!!!!!!!!!!!!!!!!SKOLEVEIEN MENY SLUTT!!!!!!!!!!!!!!!!!!!!-->

  <!--!!!!!!!!!!!!!!!!SKOLESTART FAG!!!!!!!!!!!!!!!!!!!!-->
  <div class="row skolestart">
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/skolestart/Engelsk.png" alt="engelsk fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/skolestart/matte.png" alt="matte fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/skolestart/naturfag.png" alt="naturfag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/skolestart/norsk.png" alt="norsk fag">
      </div>
    </div>
  </div>
  <!--!!!!!!!!!!!!!!!!SKOLESTART FAG SLUTT!!!!!!!!!!!!!!!!!!!!-->

  <!--!!!!!!!!!!!!!!!!1-2. KLASSE FAG!!!!!!!!!!!!!!!!!!!!-->
  <div class="row forste">
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/forste/Engelsk.png" alt="engelsk fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/forste/naturfag.png" alt="naturfag fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/forste/norsk.png" alt="norsk fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/forste/RLE.png" alt="RLE fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/forste/sammfunn.png" alt="samfunnsfag">
      </div>
    </div>
  </div>
  <!--!!!!!!!!!!!!!!!!1-2. KLASSE FAG SLUTT!!!!!!!!!!!!!!!!!!!!-->

  <!--!!!!!!!!!!!!!!!!3-4. KLASSE FAG!!!!!!!!!!!!!!!!!!!!-->
  <div class="row andre">
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/andre/Engelsk.png" alt="engelsk fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/andre/naturfag.png" alt="naturfag fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/andre/norsk.png" alt="norsk fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/andre/RLE.png" alt="RLE fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/andre/sammfunn.png" alt="samfunsfag">
      </div>
    </div>
  </div>
  <!--!!!!!!!!!!!!!!!!3-4. KLASSE FAG SLUTT!!!!!!!!!!!!!!!!!!!!-->

  <!--!!!!!!!!!!!!!!!!MORSMÅL FAG!!!!!!!!!!!!!!!!!!!!-->
  <div class="row morsmaal">
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/morsmaal/Filippinsk.png" alt="Filippinsk">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/morsmaal/Litausk.png" alt="Litausk">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/morsmaal/Polsk.png" alt="Polsk">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/morsmaal/Somali.png" alt="Somali">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/morsmaal/Tamil.png" alt="Tamil">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/morsmaal/Tiginja.png" alt="Tiginja">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/morsmaal/Tyrkisk.png" alt="Tyrkisk">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/undermenySkoleVeien/morsmaal/TilLæreren.png" alt="Til Læreren">
      </div>
    </div>
  </div>
  <!--!!!!!!!!!!!!!!!!MORSMÅL SLUTT FAG SLUTT!!!!!!!!!!!!!!!!!!!!-->

  <!--!!!!!!!!!!!!!!!!!!!!KANALS FAG!!!!!!!!!!!!!!!!!!!-->
  <!-- mobil meny -->
  <div id="kanalSButtonMobil" class="small-12 columns">
    <div class="menu-option">
      <img src="img/kanalS.png" alt="kanalS meny">
    </div>
  </div>
  <div class="row kanalS">
    <div class="large-4 small-6 columns">
      <div class="align-center">

        <a href="RLE_side.html">
          <img src="img/kanalS/RLE.png" alt="RLE fag">
        </a>
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/sammfunn.png" alt="samfunnsfag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/grunnlovsjub.png" alt="grunnlovs jubeleums fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/historieNorge.png" alt="norgeshistorie fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/historieEuropa.png" alt="historie om europa fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/kunst.png" alt="kunst fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/matOghelse.png" alt="mat og helse fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/matte.png" alt="matte fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/naturfag.png" alt="naturfag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/norsk.png" alt="norsk fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/Engelsk.png" alt="engelsk fag">
      </div>
    </div>
    <div class="large-4 small-6 columns">
      <div class="align-center">
        <img src="img/kanalS/sammfunn.png" alt="samfunnsfag">
      </div>
    </div>
  </div>
  <!--!!!!!!!!!!!!!!!!!!!!KANALS FAG SLUTT!!!!!!!!!!!!!!!!!!!-->

  <!--!!!!!!!!!!!!!!!!!MFL FAG!!!!!!!!!!!!!!!!!!!!!!-->
  <!-- mobil meny -->
  <div id="MFLButtonMobil" class="small-12 columns">
    <div class="menu-option">
      <img src="img/MFL.png" alt="MFL meny">
    </div>
  </div>
  <div class="row MFL">
    <div class="large-4 small-12 columns">
      <div class="align-center">
        <img src="img/mfl/mflbarnehage.png" alt="barnehage fag">
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <div class="align-center">
        <img src="img/mfl/mflmatematikk.png" alt="matematikk fag">
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <div class="align-center">
        <img src="img/mfl/mflnaturfag.png" alt="naturfag">
      </div>
    </div>
  </div>
  <!--!!!!!!!!!!!!!!!!MFL FAG SLUTT!!!!!!!!!!!!!!!!!!!!-->




</div>
<!--!!!!!!!!!!!!!!!!! MAIN SLUTT!!!!!!!!!!!!!!!!!!!!-->

<!--!!!!!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!!!!!!!-->
<!-- salaby logo -->
<footer id="footer" class="large-12 columns">
  <div id="footerLogo" class="large-4 columns">
    <img src="img/logos/salaby_logo_enkel_grå.png" alt="footer logo">
  </div>
  <!-- lenker i midten -->
  <div id="footerMid" class="large-6 columns">
    <ul>
      <li><a href="http://www.gyldendal.no/">© Gyldendal Norsk Forlag</a>
      </li>
      <li><a href="http://web3.gyldendal.no/support/specification/salaby">Systemkrav</a>
      </li>
      <li><a href="http://web3.gyldendal.no/support/contact/salaby">Send tilbakemelding</a>
      </li>
    </ul>
  </div>
  <!-- sosiale medier -->
  <div id="socialLinks" class="large-2 columns">
    <a href="https://www.facebook.com/salaby">
      <img src="img/social/facebook_logo.png" alt="facebook logo">
    </a>
    <a href="https://www.youtube.com/user/SalabyGyldendal">
      <img src="img/social/youtube_logo.png" alt="youtube logo">
    </a>
  </div>
  <a href="#0" class="cd-top">top</a>
</footer>
<!--!!!!!!!!!!!!!!!!!!FOOTER SLUTT!!!!!!!!!!!!!!!!!!!!!!-->

<script src="js/showDivsScript.js"></script>
<script src="js/showDivsMobilScript.js"></script>
<script src="js/main.js"></script>

</body>

</html>
