<!doctype html>
<html class="no-js hinduisme" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forside Barn</title>
  <link rel="stylesheet" href="/assets/barn/religion.css" />
</head>

<body>

<!--MENU-->
<%= render 'shared/page_header' %>



<section id="test">

  <div class="row" id="mainMenu">

    <div class="large-3 medium-6 small-6 columns">
      <img src="/assets/barn/RLE/logo_liten.png" alt="logo">
    </div>
    <div class="large-3 medium-6 small-6 columns">
      <a href="./rle.html"><img id="backArrow" src="/assets/barn/arrowback.png" alt="Pil tilbake">
      </a>

    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="fagh">HINDUISME</h1>
    </div>
  </div>


  <div class="row">
    <div class="large-3 small-6 medium-4 columns">
      <div class="align-center" id="align_center">
        <img src="/assets/barn/hinduisme/shiva.png" alt="Shiva bilde">
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div class="align-center" id="align_center">
        <img src="/assets/barn/hinduisme/ganesha.png" alt="Ganesha bilde">
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div class="align-center" id="align_center">
        <img src="/assets/barn/hinduisme/murugan.png" alt="Murugan bilde">
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div class="align-center" id="align_center">
        <img src="/assets/barn/hinduisme/durga.png" alt="Durga bilde">
      </div>
    </div>


    <div class="large-3 small-6 medium-4 columns">
      <div class="align-center" id="align_center">
        <img src="/assets/barn/hinduisme/film.png" alt="Film oppgaver-bilde">
      </div>
    </div>

    <div class="large-3 small-6 medium-4 columns">
      <div class="align-center" id="align_center">
        <img src="/assets/barn/hinduisme/tegn.png" alt="Film med tegnspråk">
      </div>
    </div>
    <div class="large-3"></div>

  </div>

  </div>
</section>
<!-- Footer -->


<%= render 'shared/page_footer' %>

<!-- FOOTER SLUTT -->

</body>

</html>
