<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forside Barn</title>
  <link rel="stylesheet" href="/assets/shared/footer.css" />
  <link rel="stylesheet" href="/assets/shared/header.css" />
  <link rel="stylesheet" href="/assets/voksen/voksen_shared.css" />
  <link rel="stylesheet" href="/assets/voksen/kompetanse.css" />

</head>

<body>
<%= render 'shared/page_header_info' %>


<div id="wrapper">
  <!--SLIDER-->
  <div class="row">
    <div class="large-12 columns">
<aside id="promoBanner">
        <div class="large-8 small-12 columns">
          <img src="/assets/voksen/nyheter/historienOmEuropa.png">
        </div>
        <div class="large-4 small-12 columns">
          <div id="promobannerTextBox">
            <h3>HISTORIEN OM EUROPA</h3>
            <p>NYHET: Helt ferske temasider om
              romertiden, middelalderen,
              renessansen og opplysningstiden
              er nå tilgjengelig under
              «Historien om Europa» for 5.-7. trinn.</p>
          </div>
        </div>

      </aside>
    </div>
  </div>
  <!--OMRÅDE FOR ARTIKLER-->
  <div class="row">

    <div class="large-12 columns">
      <h1>Bestilling</h1>
    </div>
  </div>
  <div id="paymentArea">
    <div class="row">
      <div class="large-12 columns">
        <label>Velg type</label>
        <input type="radio" name="pokemon" value="Kommune" id="kommune">
        <label for="pokemonRed">Kommune</label>
        <input type="radio" name="pokemon" value="Skole" id="skole">
        <label for="pokemonBlue">Skole</label>
        <input type="radio" name="pokemon" value="Barnehagen" id="barnehage">
        <label for="pokemonBlue">Barnehage</label>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Referanse navn
            <input type="text" placeholder="Referanse navn" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Telefon nummer
            <input type="text" placeholder="Telefon nummer" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Skole
            <input type="text" placeholder="Skole" />
          </label>
        </div>
      </div>
      <div class="row">
        <fieldset>
          <legend>Valg av produkt</legend>
          <div class="large-6 columns">
            <label>Velg produkt:
              <select>
                <option value="husker">Barnehage</option>
                <option value="starbuck">Skoleveien</option>
                <option value="hotdog">Kanal S</option>
                <option value="apollo">MFL</option>
              </select>
            </label>
          </div>
          <div class="large-4 columns">
            <label>Antall elever
              <input type="text" placeholder="Antall elever" />
            </label>
          </div>
          <div class="large-2 columns">
            <input class="button" type="button" value="Legg til valg   " />
          </div>
        </fieldset>
        <fieldset>
          <legend>Valgte produkter</legend>
          Det finnes ingen valgte produkter.
        </fieldset>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Kommentar:
            <textarea placeholder="Kommentar"></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input class="button expand" type="button" value="Send bestilling">
        </div>
      </div>
    </div>
  </div>
</div>

    <%= render 'shared/page_footer' %>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/menuHeadScript.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>