<div id="wrapper">
  <!--SLIDER-->
  <div class="row">
    <div class="large-12 columns">
      <aside id="promoBanner">
        <div class="large-8 small-12 columns">
          <img src="/assets/voksen/nyheter/historienOmEuropa.png" alt="Bilde av historien om europa">
        </div>
        <div class="large-4 small-12 columns">
          <div id="promobannerTextBox">
            <h3>HISTORIEN OM EUROPA</h3>
            <p>NYHET: Helt ferske temasider om
              romertiden, middelalderen,
              renessansen og opplysningstiden
              er nå tilgjengelig under
              «Historien om Europa» for 5.-7. trinn.</p>
          </div>
        </div>

      </aside>
    </div>
  </div>
  <!--OMRÅDE FOR ARTIKLER-->
  <div class="row">
    <div class="large-12 columns">
      <h1>Nyheter</h1>
    </div>
  </div>

  <div id="articleOmrade">
    <div class="row">
      <!--KODE BLOKK FOR HVER ARTIKKEL-->
      <div class="large-4 small-12 columns">
        <article>
          <h3>ALF PRØYSEN</h3>
          <img class="articleImg" src="/assets/voksen/nyheter/alfProysen.png" alt="Alt proysen" />
          <p>Alf Prøysen ville fylt 100 år i 2014, og i
            anledning jubileet tilbyr vi egne temasider om
            den folkekjære visesangeren og forfatteren.</p>
        </article>
      </div>
      <!--KODE BLOKK FOR HVER ARTIKKEL SLUTT-->
      <!--KODE BLOKK FOR HVER ARTIKKEL-->
      <div class="large-4 small-12 columns">
        <article>
          <h3>INNHOLD PÅ ENGELSK</h3>
          <img class="articleImg" src="/assets/voksen/nyheter/innholdPaaEngelsk.png" alt="Engelsk innhold" />
              <ul class="newsList"> 
                <li>Nye kapitler til fortellingen 'Dad missing!</li>
                <li>Nivådelte oppgaver og tester til alle kapitler</li>
                <li>Oppdatert bibliotek</li>
                <li>Øvelser og tester til alle temaer i grammatikk</li>
                <li>Ny 'Task of the week' hver uke</li>
              </ul>
        </article>
      </div>
      <!--KODE BLOKK FOR HVER ARTIKKEL SLUTT-->
      <!--KODE BLOKK FOR HVER ARTIKKEL-->
      <div class="large-4 small-12 columns">
        <article>
          <h3>TV-AKSJONEN 2014</h3>
          <img class="articleImg" src="/assets/voksen/nyheter/tv-aksjonenNRK.png" alt="Tv-aksjonen"/>
          <p>Dato for årets TV-aksjon er 19. oktober,
            og Salaby tilbyr også i år egne skolesider
            knyttet til tema for aksjonen.</p>
        </article>
      </div>
      <!--KODE BLOKK FOR HVER ARTIKKEL SLUTT-->
      <!--KODE BLOKK FOR HVER ARTIKKEL-->
    </div>
    <div class="row">
      <div class="large-6 small-12 columns">
        <article>
          <h3>OVERSKRIFT 3</h3>
          <img class="articleImg" src="/assets/voksen/nyheter/budd.png" alt="Buddismen"/>
          <p class="paddingBig">På mandag drar vi til Trondheim for å delta på konferansen Visjon 2030.
Konferansen omtales som en nasjonal innovasjonsdugnad. Tema er hvordan verden kan oppnå de universelle bærekraftsmålene som skal vedtas i FN til høsten, og det blir et særlig fokus på helse, utdanning og hvordan norske, innovative løsninger kan bidra.
Vår ambisjon er å bidra til enda flere barn lærer enda bedre. Vi vil fortsette å spille på lag med lærere og elever.
Under konferansen i Trondheim er vi representert på fem programposter, og vi gleder oss til mange gode diskusjoner med andre norske aktører som brenner for det samme.

Kanal S er den nye hovedportalen for 5. - 7. trinn.</p>
        </article>
      </div>
      <!--KODE BLOKK FOR HVER ARTIKKEL SLUTT-->
      <!--KODE BLOKK FOR HVER ARTIKKEL-->
      <div class="large-6 small-12 columns">
        <article>
          <h3>OVERSKRIFT 3</h3>
          <img class="articleImg" src="/assets/voksen/nyheter/budd.png" alt="Buddismen"/>
          <p class="paddingBig">Denne uken var ulike norske aktører invitert til å være med å diskutere hvordan innovative løsninger kan bidra til at verden når FN-målet om å utrydde all ekstrem fattigdom i verden innen 2030.
Vi var med, og snakket blant om hvordan Salaby brukes i Norge og utlandet. Mange spennende diskusjoner, og stas med så mye på fokus på viktigheten av utdanning som virkemiddel for å utrydde fattigdom!
På konferansen møtte vi også utenriksminister Børge Brende, her tester han ferdigheter i Salaby.</p>
        </article>
      </div>
      <!--KODE BLOKK FOR HVER ARTIKKEL SLUTT-->
    </div>
  </div>
</div>

