<div id="wrapper">
  <div class="row">
    <div class="large-12 columns">
<aside id="promoBanner">
        <div class="large-8 small-12 columns">
          <img src="/assets/voksen/nyheter/historienOmEuropa.png" alt="Bilde av historien om europa">
        </div>
        <div class="large-4 small-12 columns">
          <div id="promobannerTextBox">
            <h3>HISTORIEN OM EUROPA</h3>
            <p>NYHET: Helt ferske temasider om
              romertiden, middelalderen,
              renessansen og opplysningstiden
              er nå tilgjengelig under
              «Historien om Europa» for 5.-7. trinn.</p>
          </div>
        </div>

      </aside>
    </div>
  </div>
  <section id="kompetanse">
    <!--OMRÅDE FOR ARTIKLER-->
    <div class="row">
      <div class="large-12 columns">
        <h1>Kompetansemål</h1>
        <!-- Also works with <dl>'s and <dt>'s in place of <ul>'s and <li>'s. -->
        <dl class="sub-nav">
          <dt>Filter:</dt>
              <dd><a id="engelskBtn" href="#engelskAco">Engelsk</a></dd>
              <dd><a id="norskBtn" href="#norskAco">Norsk</a></dd>
              <dd><a id="naturBtn" href="#naturAco">Naturfag</a></dd>
              <dd><a id="kohBtn" href="#kohAco">Kunst og Håndverk</a></dd>
              <dd><a id="mohBtn" href="#mohAco">Mat og Helse</a></dd>
              <dd><a id="rleBtn" href="#rleAco">RLE</a></dd>
              <dd><a id="musikkBtn" href="#musikkAco">Musikk</a></dd>
              <dd><a id="matteBtn" href="#matteAco">Mattematikk</a></dd>
              <dd><a id="samfunnBtn" href="#samfunnAco">Samfunnsfag</a></dd>
        </dl>

        <div id="innholdWrapper">
          <!--ACCORD START-->
          <dl id="engelskAco" class="accordion" data-accordion>
            <dt>Engelsk</dt>
              <dd class="accordion-navigation">
              <a href="#panel1b">Engelsk / Etter 2.årstrinn</a>
              <div id="panel1b" class="content">
                <ul>
                  <li><h3>Språklæring</h3></li>
                  <li>Gi eksempler på noen situasjoner der det kan være nyttig å kunne engelsk</li>
                  <li>Finne ord og uttrykk som er felles for engelsk og eget morsmål</li>
                  <li>bruke digitale ressurser i opplevelse av språket</li>
                </ul>
                <ul>
                  <li><h3>Muntlig kommunikasjon</h3></li>
                  <li>lytte etter og bruke engelske språklyder gjennom praktisk-estetiske uttrykksmåter</li>
                  <li>lytte til og forstå enkle instruksjoner på engelsk</li>
                  <li>lytte til og forstå ord og uttrykk i engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                  <li>forstå og bruke noen engelske ord, uttrykk og setningsmønstre knyttet til nære omgivelser og egne interesser</li>
                  <li>ghilse, stille og svare på enkle spørsmål og bruke noen høflighetsuttrykk</li>
                  <li>delta i enkle innøvde dialoger og spontane samtaler knyttet til nære omgivelser og egne opplevelser</li>
                  <li>bruke tall i samtale om nære omgivelser og egne opplevelser</li>
                </ul>
                <ul>
                  <li><h3>Skriftlig kommunikasjon</h3></li>
                  <li>kjenne igjen sammenhengen mellom noen engelske språklyder og stavemønstre</li>
                  <li>eksperimentere med å lese og skrive engelske ord, uttrykk og enkle setninger knyttet til nære omgivelser og egne interesser</li>
                </ul>
                <ul>
                  <li><h3>Kultur, samfunn og litteratur</h3></li>
                  <li>samtale om sider ved barns dagligliv i engelskspråklige land</li>
                  <li>ta del i og oppleve barnekultur fra engelskspråklige land gjennom å bruke ord, bilder, musikk og bevegelse</li>
                  <li>gi uttrykk for egne opplevelser av engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                </ul>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel2b">Engelsk / Etter 4. årstrinn</a>
              <div id="panel2b" class="content">
                <ul>
                  <li><h3>Språklæring</h3></li>
                  <li>bruke enkle lytte- og talestrategier</li>
                  <li>identifisere situasjoner der det kan være nyttig eller nødvendig å kunne engelsk</li>
                  <li>Muntlig kommuniksjon</li>
                  <li>samtale om eget arbeid med å lære engelsk</li>
                  <li>lytte til og forstå betydningen av ord og uttrykk ut fra sammenhengen de er brukt i</li>
                  <li>finne likheter mellom ord og uttrykksmåter i engelsk og eget morsmål</li>
                  <li>forstå og bruke engelske ord, uttrykk og setningsmønstre knyttet til egne behov og følelser, dagligliv, fritid og interesser</li>
                  <li>forstå hovedinnholdet i rim, regler, sanger, eventyr og fortellinger</li>
                  <li>bruke digitale ressurser og andre hjelpemidler i utforsking av språket</li>
                  <li>bruke noen høflighetsuttrykk og enkle fraser for å få hjelp til å forstå og bli forstått</li>
                  <li>delta i dagligdagse samtaler knyttet til nære omgivelser og egne opplevelser</li>
                  <li>si det engelske alfabetet og stave navn og bostedsnavn</li>
                  <li>forstå og bruke ord og uttrykk knyttet til priser, mengder, form og størrelser i kommunikasjon om dagligliv, fritid og interesser</li>
                </ul>
                <ul>
                  <li><h3>Skriftlig kommunikasjon</h3></li>
                  <li>bruke enkle lese- og skrivestrategier</li>
                  <li>forstå sammenhengen mellom engelske språklyder og bokstaver og trekke lyder sammen til ord</li>
                  <li>forstå betydningen av ord og uttrykk ut fra sammenhengen de er brukt i</li>
                  <li>lese, forstå og skrive engelske ord og uttrykk knyttet til egne behov og følelser, dagligliv, fritid og interesser</li>
                  <li>forstå hovedinnholdet i enkle tekster om kjente emner</li>
                  <li>skrive korte tekster som uttrykker meninger og interesser, og som beskriver, forteller og spør</li>
                  <li>bruke noen vanlige småord og enkle stave- og setningsmønstre</li>
                  <li>bruke digitale verktøy for å hente informasjon og eksperimentere med å skape tekst</li>
                </ul>
                <ul>
                  <li><h3>Kultur, samfunn og litteratur</h3></li>
                  <li>gi noen eksempler på engelskspråklige land og kjente personer derfra</li>
                  <li>samtale om noen sider ved ulike levesett, tradisjoner og skikker i engelskspråklige land og i Norge</li>
                  <li>delta i framføring av engelskspråklige rim, regler, sanger, korte skuespill og fortellinger</li>
                  <li>gi uttrykk for egne tanker og meninger i møte med engelskspråklig litteratur og barnekultur</li>
                  <li>lage egne tekster inspirert av engelskspråklig litteratur og barnekultur</li>
                </ul>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel3b">Engelsk / Etter 7. årstrinn</a>
              <div id="panel3b" class="content">
                <ul>
                  <li><h3>Språklæring</h3></li>
                  <li>identifisere og bruke ulike situasjoner og læringsstrategier for å utvide egne ferdigheter i engelsk</li>
                  <li>beskrive eget arbeid med å lære engelsk</li>
                  <li>identifisere noen språklige likheter og ulikheter mellom engelsk og eget morsmål</li>
                  <li>bruke digitale ressurser og andre hjelpemidler i egen språklæring</li>
                </ul>
                <ul>
                  <li><h3>Muntlig kommunikasjon</h3></li>
                  <li>bruke lytte- og talestrategier</li>
                  <li>forstå og bruke et ordforråd knyttet til kjente emner</li>
                  <li>forstå hovedinnholdet i muntlige tekster om kjente emner</li>
                  <li>bruke høflighetsuttrykk og situasjonsrelaterte uttrykk</li>
                  <li>uttrykke seg for å få hjelp til å forstå og bli forstått i ulike situasjoner</li>
                  <li>uttrykke og begrunne egen mening om kjente emner</li>
                  <li>innlede, holde i gang og avslutte samtaler knyttet til kjente situasjoner</li>
                  <li>bruke grunnleggende mønstre for uttale, intonasjon, ordbøying og setningstyper i kommunikasjon</li>
                  <li>uttrykke seg om enkle beregninger, valuta og måleenheter i kommunikasjon om dagligdagse situasjoner</li>
                </ul>
                <ul>
                  <li><h3>Skriftlig kommunikasjon</h3></li>
                  <li>bruke lese- og skrivestrategier</li>
                  <li>forstå og bruke et ordforråd knyttet til kjente emner</li>
                  <li>forstå hovedinnholdet i selvvalgte tekster</li>
                  <li>lese og forstå ulike typer tekster av varierende omfang fra forskjellige kilder</li>
                  <li>ta notater for å lage ulike typer tekster</li>
                  <li>skrive sammenhengende tekster som forteller, gjenforteller, beskriver opplevelser og uttrykker egne meninger</li>
                  <li>bruke grunnleggende mønstre for rettskriving, ordbøying, setnings- og tekstbygging i produksjon av tekst</li>
                  <li>bruke digitale verktøy og andre hjelpemidler for å finne relevant informasjon og lage ulike typer tekster</li>
                </ul>
                <ul>
                  <li><h3>Kultur, samfunn og litteratur</h3></li>
                  <li>samtale om sider ved barns dagligliv i engelskspråklige land</li>
                  <li>ta del i og oppleve barnekultur fra engelskspråklige land gjennom å bruke ord, bilder, musikk og bevegelse</li>
                  <li>gi uttrykk for egne opplevelser av engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                </ul>
              </div>
            </dd>
          </dl>
          <!--ACCORD SLUTT-->


          <!--ACCORD START-->
          <dl id="norskAco" class="accordion" data-accordion>
              <dt>Norsk</dt>
            <dd class="accordion-navigation">
              <a href="#panel4b">Norsk / Etter 2.årstrinn</a>
              <div id="panel4b" class="content">
                <ul>
                  <li><h3>Språklæring</h3></li>
                  <li>Gi eksempler på noen situasjoner der det kan være nyttig å kunne engelsk</li>
                  <li>Finne ord og uttrykk som er felles for engelsk og eget morsmål</li>
                  <li>bruke digitale ressurser i opplevelse av språket</li>
                </ul>
                <ul>
                  <li><h3>Muntlig kommunikasjon</h3></li>
                  <li>lytte etter og bruke engelske språklyder gjennom praktisk-estetiske uttrykksmåter</li>
                  <li>lytte til og forstå enkle instruksjoner på engelsk</li>
                  <li>lytte til og forstå ord og uttrykk i engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                  <li>forstå og bruke noen engelske ord, uttrykk og setningsmønstre knyttet til nære omgivelser og egne interesser</li>
                  <li>ghilse, stille og svare på enkle spørsmål og bruke noen høflighetsuttrykk</li>
                  <li>delta i enkle innøvde dialoger og spontane samtaler knyttet til nære omgivelser og egne opplevelser</li>
                  <li>bruke tall i samtale om nære omgivelser og egne opplevelser</li>
                </ul>
                <ul>
                  <li><h3>Skriftlig kommunikasjon</h3></li>
                  <li>kjenne igjen sammenhengen mellom noen engelske språklyder og stavemønstre</li>
                  <li>eksperimentere med å lese og skrive engelske ord, uttrykk og enkle setninger knyttet til nære omgivelser og egne interesser</li>
                </ul>
                <ul>
                  <li><h3>Kultur, samfunn og litteratur</h3></li>
                  <li>samtale om sider ved barns dagligliv i engelskspråklige land</li>
                  <li>ta del i og oppleve barnekultur fra engelskspråklige land gjennom å bruke ord, bilder, musikk og bevegelse</li>
                  <li>gi uttrykk for egne opplevelser av engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                </ul>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel5b">Norsk / Etter 4. årstrinn</a>
              <div id="panel5b" class="content">
                Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel6b">Norsk / Etter 7. årstrinn</a>
              <div id="panel6b" class="content">
                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
          </dl>
          <!--ACCORD SLUTT-->


          <!--ACCORD START-->
          <dl id="naturAco" class="accordion" data-accordion>
              <dt>Naturfag</dt>
            <dd class="accordion-navigation">
              <a href="#panel7b">Naturfag / Etter 2.årstrinn</a>
              <div id="panel7b" class="content">
                <ul>
                  <li><h3>Språklæring</h3></li>
                  <li>Gi eksempler på noen situasjoner der det kan være nyttig å kunne engelsk</li>
                  <li>Finne ord og uttrykk som er felles for engelsk og eget morsmål</li>
                  <li>bruke digitale ressurser i opplevelse av språket</li>
                </ul>
                <ul>
                  <li><h3>Muntlig kommunikasjon</h3></li>
                  <li>lytte etter og bruke engelske språklyder gjennom praktisk-estetiske uttrykksmåter</li>
                  <li>lytte til og forstå enkle instruksjoner på engelsk</li>
                  <li>lytte til og forstå ord og uttrykk i engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                  <li>forstå og bruke noen engelske ord, uttrykk og setningsmønstre knyttet til nære omgivelser og egne interesser</li>
                  <li>ghilse, stille og svare på enkle spørsmål og bruke noen høflighetsuttrykk</li>
                  <li>delta i enkle innøvde dialoger og spontane samtaler knyttet til nære omgivelser og egne opplevelser</li>
                  <li>bruke tall i samtale om nære omgivelser og egne opplevelser</li>
                </ul>
                <ul>
                  <li><h3>Skriftlig kommunikasjon</h3></li>
                  <li>kjenne igjen sammenhengen mellom noen engelske språklyder og stavemønstre</li>
                  <li>eksperimentere med å lese og skrive engelske ord, uttrykk og enkle setninger knyttet til nære omgivelser og egne interesser</li>
                </ul>
                <ul>
                  <li><h3>Kultur, samfunn og litteratur</h3></li>
                  <li>samtale om sider ved barns dagligliv i engelskspråklige land</li>
                  <li>ta del i og oppleve barnekultur fra engelskspråklige land gjennom å bruke ord, bilder, musikk og bevegelse</li>
                  <li>gi uttrykk for egne opplevelser av engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                </ul>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel8b">Naturfag / Etter 4. årstrinn</a>
              <div id="panel8b" class="content">
                Panel 2. Mål for opplæring er at eleven skal kunne beskrive mangfold i naturen, kropp og helse, fenomener og stoffer, teknologi og design. 
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel9b">Naturfag / Etter 7. årstrinn</a>
              <div id="panel9b" class="content">
                Panel 3. Mål for opplæring er at eleven skal kunne beskrive mangfold i naturen, kropp og helse, fenomener og stoffer, teknologi og design.
              </div>
            </dd>
          </dl>
          <!--ACCORD SLUTT-->

          <!--ACCORD START-->
          <dl id="kohAco" class="accordion" data-accordion>
              <dt>Kunst og Håndverk</dt>
            <dd class="accordion-navigation">
              <a href="#panel1c">Kunst og Håndverk / Etter 2.årstrinn</a>
              <div id="panel1c" class="content">
                <ul>
                  <li><h3>Språklæring</h3></li>
                  <li>Gi eksempler på noen situasjoner der det kan være nyttig å kunne engelsk</li>
                  <li>Finne ord og uttrykk som er felles for engelsk og eget morsmål</li>
                  <li>bruke digitale ressurser i opplevelse av språket</li>
                </ul>
                <ul>
                  <li><h3>Muntlig kommunikasjon</h3></li>
                  <li>lytte etter og bruke engelske språklyder gjennom praktisk-estetiske uttrykksmåter</li>
                  <li>lytte til og forstå enkle instruksjoner på engelsk</li>
                  <li>lytte til og forstå ord og uttrykk i engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                  <li>forstå og bruke noen engelske ord, uttrykk og setningsmønstre knyttet til nære omgivelser og egne interesser</li>
                  <li>ghilse, stille og svare på enkle spørsmål og bruke noen høflighetsuttrykk</li>
                  <li>delta i enkle innøvde dialoger og spontane samtaler knyttet til nære omgivelser og egne opplevelser</li>
                  <li>bruke tall i samtale om nære omgivelser og egne opplevelser</li>
                </ul>
                <ul>
                  <li><h3>Skriftlig kommunikasjon</h3></li>
                  <li>kjenne igjen sammenhengen mellom noen engelske språklyder og stavemønstre</li>
                  <li>eksperimentere med å lese og skrive engelske ord, uttrykk og enkle setninger knyttet til nære omgivelser og egne interesser</li>
                </ul>
                <ul>
                  <li><h3>Kultur, samfunn og litteratur</h3></li>
                  <li>samtale om sider ved barns dagligliv i engelskspråklige land</li>
                  <li>ta del i og oppleve barnekultur fra engelskspråklige land gjennom å bruke ord, bilder, musikk og bevegelse</li>
                  <li>gi uttrykk for egne opplevelser av engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                </ul>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel2c">Kunst og Håndverk / Etter 4. årstrinn</a>
              <div id="panel2c" class="content">
                Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel3c">Kunst og Håndverk / Etter 7. årstrinn</a>
              <div id="panel3c" class="content">
                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
          </dl>
          <!--ACCORD SLUTT-->
          <!--ACCORD START-->
          <dl id="mohAco" class="accordion" data-accordion>
              <dt>Mat og helse</dt>
            <dd class="accordion-navigation">
              <a href="#panel4c">Mat og helse / Etter 2.årstrinn</a>
              <div id="panel4c" class="content">
                Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel5c">Mat og helse / Etter 4. årstrinn</a>
              <div id="panel5c" class="content">
                Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel6c">Mat og helse / Etter 7. årstrinn</a>
              <div id="panel6c" class="content">
                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
          </dl>
          <!--ACCORD SLUTT-->

          <!--ACCORD START-->
          <dl id="rleAco" class="accordion" data-accordion>
              <dt>RLE</dt>
            <dd class="accordion-navigation">
              <a href="#panel7c">RLE / Etter 2.årstrinn</a>
              <div id="panel7c" class="content">
                <ul>
                  <li><h3>Språklæring</h3></li>
                  <li>Gi eksempler på noen situasjoner der det kan være nyttig å kunne engelsk</li>
                  <li>Finne ord og uttrykk som er felles for engelsk og eget morsmål</li>
                  <li>bruke digitale ressurser i opplevelse av språket</li>
                </ul>
                <ul>
                  <li><h3>Muntlig kommunikasjon</h3></li>
                  <li>lytte etter og bruke engelske språklyder gjennom praktisk-estetiske uttrykksmåter</li>
                  <li>lytte til og forstå enkle instruksjoner på engelsk</li>
                  <li>lytte til og forstå ord og uttrykk i engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                  <li>forstå og bruke noen engelske ord, uttrykk og setningsmønstre knyttet til nære omgivelser og egne interesser</li>
                  <li>ghilse, stille og svare på enkle spørsmål og bruke noen høflighetsuttrykk</li>
                  <li>delta i enkle innøvde dialoger og spontane samtaler knyttet til nære omgivelser og egne opplevelser</li>
                  <li>bruke tall i samtale om nære omgivelser og egne opplevelser</li>
                </ul>
                <ul>
                  <li><h3>Skriftlig kommunikasjon</h3></li>
                  <li>kjenne igjen sammenhengen mellom noen engelske språklyder og stavemønstre</li>
                  <li>eksperimentere med å lese og skrive engelske ord, uttrykk og enkle setninger knyttet til nære omgivelser og egne interesser</li>
                </ul>
                <ul>
                  <li><h3>Kultur, samfunn og litteratur</h3></li>
                  <li>samtale om sider ved barns dagligliv i engelskspråklige land</li>
                  <li>ta del i og oppleve barnekultur fra engelskspråklige land gjennom å bruke ord, bilder, musikk og bevegelse</li>
                  <li>gi uttrykk for egne opplevelser av engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                </ul>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel8c">RLE / Etter 4. årstrinn</a>
              <div id="panel8c" class="content">
                Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel9c">RLE / Etter 7. årstrinn</a>
              <div id="panel9c" class="content">
                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
          </dl>
          <!--ACCORD SLUTT-->
          <!--ACCORD START-->
          <dl id="musikkAco" class="accordion" data-accordion>
              <dt>Musikk</dt>
            <dd class="accordion-navigation">
              <a href="#panel1d">Musikk / Etter 2.årstrinn</a>
              <div id="panel1d" class="content">
                Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel2d">Musikk / Etter 4. årstrinn</a>
              <div id="panel2d" class="content">
                Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel3d">Musikk / Etter 7. årstrinn</a>
              <div id="panel3d" class="content">
                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
          </dl>
          <!--ACCORD SLUTT-->

          <!--ACCORD START-->
          <dl id="matteAco" class="accordion" data-accordion>
              <dt>Matte</dt>
            <dd class="accordion-navigation">
              <a href="#panel4d">Mattematikk / Etter 2.årstrinn</a>
              <div id="panel4d" class="content">
                <ul>
                  <li><h3>Språklæring</h3></li>
                  <li>Gi eksempler på noen situasjoner der det kan være nyttig å kunne engelsk</li>
                  <li>Finne ord og uttrykk som er felles for engelsk og eget morsmål</li>
                  <li>bruke digitale ressurser i opplevelse av språket</li>
                </ul>
                <ul>
                  <li><h3>Muntlig kommunikasjon</h3></li>
                  <li>lytte etter og bruke engelske språklyder gjennom praktisk-estetiske uttrykksmåter</li>
                  <li>lytte til og forstå enkle instruksjoner på engelsk</li>
                  <li>lytte til og forstå ord og uttrykk i engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                  <li>forstå og bruke noen engelske ord, uttrykk og setningsmønstre knyttet til nære omgivelser og egne interesser</li>
                  <li>ghilse, stille og svare på enkle spørsmål og bruke noen høflighetsuttrykk</li>
                  <li>delta i enkle innøvde dialoger og spontane samtaler knyttet til nære omgivelser og egne opplevelser</li>
                  <li>bruke tall i samtale om nære omgivelser og egne opplevelser</li>
                </ul>
                <ul>
                  <li><h3>Skriftlig kommunikasjon</h3></li>
                  <li>kjenne igjen sammenhengen mellom noen engelske språklyder og stavemønstre</li>
                  <li>eksperimentere med å lese og skrive engelske ord, uttrykk og enkle setninger knyttet til nære omgivelser og egne interesser</li>
                </ul>
                <ul>
                  <li><h3>Kultur, samfunn og litteratur</h3></li>
                  <li>samtale om sider ved barns dagligliv i engelskspråklige land</li>
                  <li>ta del i og oppleve barnekultur fra engelskspråklige land gjennom å bruke ord, bilder, musikk og bevegelse</li>
                  <li>gi uttrykk for egne opplevelser av engelskspråklige rim, regler, sanger, eventyr og fortellinger</li>
                </ul>
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel5d">Mattematikk / Etter 4. årstrinn</a>
              <div id="panel5d" class="content">
                Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel6d">Mattematikk / Etter 7. årstrinn</a>
              <div id="panel6d" class="content">
                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
          </dl>
          <!--ACCORD SLUTT-->
          <!--ACCORD START-->
          <dl id="samfunnAco" class="accordion" data-accordion>
              <dt>Samfunn</dt>
            <dd class="accordion-navigation">
              <a href="#panel7d">Samfunnsfag / Etter 2.årstrinn</a>
              <div id="panel7d" class="content">
                Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel8d">Samfunnsfag / Etter 4. årstrinn</a>
              <div id="panel8d" class="content">
                Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
            <dd class="accordion-navigation">
              <a href="#panel9d">Samfunnsfag / Etter 7. årstrinn</a>
              <div id="panel9d" class="content">
                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </dd>
          </dl>
          <!--ACCORD SLUTT-->
        </div>
      </div>
    </div>
  </section>
</div>
