<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forside Barn</title>
  <link rel="stylesheet" href="/assets/shared/footer.css" />
  <link rel="stylesheet" href="/assets/shared/header.css" />
  <link rel="stylesheet" href="/assets/voksen/voksen_shared.css" />
  <link rel="stylesheet" href="/assets/voksen/kompetanse.css" />

</head>

<body>
<%= render 'shared/page_header_info' %>
    
<div id="wrapper">
  <!--SLIDER-->
  <div class="row">
    <div class="large-12 columns">
<aside id="promoBanner">
        <div class="large-8 small-12 columns">
          <img src="/assets/voksen/nyheter/historienOmEuropa.png">
        </div>
        <div class="large-4 small-12 columns">
          <div id="promobannerTextBox">
            <h3>HISTORIEN OM EUROPA</h3>
            <p>NYHET: Helt ferske temasider om
              romertiden, middelalderen,
              renessansen og opplysningstiden
              er nå tilgjengelig under
              «Historien om Europa» for 5.-7. trinn.</p>
          </div>
        </div>

      </aside>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <nav class="breadcrumbs">
        <a href="informasjon">Informasjon</a>
        <a href="omSalaby">Om salaby</a>
        <a href="omSkoleveien">Om Skolevein 1-2 Trinn</a>
        <a href="omByparken">Om Byparken 3-5 Trinn</a>
        <a class="current" href="omKanalS">Om KanalS 5-7 Trinn</a>
      </nav>
    </div>
  </div>
  <!--OMRÅDE FOR ARTIKLER-->
  <div class="row">
    <div id="articleOmrade">
      <div class="large-2 small-12 columns">
            <%= render 'shared/page_sidebar_info.html.erb' %>
      </div>
      <!--KODE BLOKK FOR HVER ARTIKKEL-->
      <div class="large-10 small-12 columns">
        <article>
          <h3>OM KANAL S</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et venenatis quam. Nullam imperdiet sollicitudin purus et scelerisque. Pellentesque pharetra tempus lacus, nec blandit felis facilisis id. Cras vitae felis interdum, mollis ligula vitae, aliquam mi. Donec quis ex ac ex faucibus interdum. Nam posuere lobortis laoreet. Morbi at bibendum ipsum, non placerat justo. Aliquam sed pulvinar magna. Vestibulum tortor erat, consectetur posuere ultricies nec, sagittis ut massa. Praesent dignissim urna nec risus ultricies tristique. Pellentesque vitae risus eget mi posuere accumsan vitae ac risus. Integer non tempor eros, tristique tincidunt velit.get mi posuere accumsan vitae ac risus. Integer non tempor eros, tristique tincidunt velit.get mi posuere accumsan vitae ac risus. Integer non tempor eros, tristique tincidunt velit.</p>
        </article>
      </div>
      <!--KODE BLOKK FOR HVER ARTIKKEL SLUTT-->

    </div>
  </div>

    <%= render 'shared/page_footer' %>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/menuHeadScript.js"></script>
  <script>
      $(document).foundation();
  </script>
</body>

</html>
