<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forside Barn</title>
  <link rel="stylesheet" href="/assets/shared/footer.css" />
  <link rel="stylesheet" href="/assets/shared/header.css" />
  <link rel="stylesheet" href="/assets/voksen/voksen_shared.css" />
  <link rel="stylesheet" href="/assets/voksen/kompetanse.css" />

</head>

<body>
<%= render 'shared/page_header_info' %>
<div id="wrapper">
  <!--SLIDER-->
  <div class="row">
    <div class="large-12 columns">
<aside id="promoBanner">
        <div class="large-8 small-12 columns">
          <img src="/assets/voksen/nyheter/historienOmEuropa.png" alt="Bilde av historien om europa">
        </div>
        <div class="large-4 small-12 columns">
          <div id="promobannerTextBox">
            <h3>HISTORIEN OM EUROPA</h3>
            <p>NYHET: Helt ferske temasider om
              romertiden, middelalderen,
              renessansen og opplysningstiden
              er nå tilgjengelig under
              «Historien om Europa» for 5.-7. trinn.</p>
          </div>
        </div>

      </aside>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <nav class="breadcrumbs">
        <a href="informasjon">Informasjon</a>
        <a class="current" href="omSalaby">Om salaby</a>
        <a class="unavailable" href="omSkoleveien">Om Skolevein 1-2 Trinn</a>
        <a class="unavailable" href="omByparken">Om Byparken 3-5 Trinn</a>
        <a class="unavailable" href="omKanalS">Om KanalS 5-7 Trinn</a>
      </nav>
    </div>
  </div>
  <!--OMRÅDE FOR ARTIKLER-->
  <div class="row">
    <div id="articleOmrade">
      <div class="large-2 small-12 columns">
          <%= render 'shared/page_sidebar_info.html.erb' %>
      </div>
      <!--KODE BLOKK FOR HVER ARTIKKEL-->
      <div class="large-10 small-12 columns">
        <article>
          <h3>OM SALABY</h3>
          <p>Salaby er et digitalt læremiddel i alle fag for 1.-7. trinn og for alle aldergrupper i barnehagen.

Salaby inneholder mer enn 4000 læringselementer fordelt på de ulike fagene. Rammen rundt innholdet er byen Salaby og karakterene som bor der. Alt innhold er utviklet av norske pedagoger og fagfolk. Salaby er lisensbasert.

Salaby har fire hovedportaler for 1. - 4. trinn:
- Sirkus (Skolestart)
- Skoleveien (1. - 2. trinn)
- Byparken (3. - 4. trinn)
- Biblioteket (1. - 4. trinn)</p>
        </article>
      </div>
      <!--KODE BLOKK FOR HVER ARTIKKEL SLUTT-->

    </div>
  </div>
    </div>
    <%= render 'shared/page_footer' %>

</body>

</html>
