<p>Header</p>

<div id="mainHeader">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-8 small-4 columns">
        <img id="siteLogo" src="img/logos/salaby_logo_enkel_rød.png">
      </div>
      <div class="large-4 small-8 columns">
        <div class="menuHeader">
          <ul>
            <li><a href="../Voksen/voksenForside">Lærer/foreldre siden</a>
            </li>
            <li><a href="#">Min side</a>
            </li>
            <li>

              <% if logged_in?%>
                  <%= link_to "Logg ut", logout_path, method: "delete"%>
                  <%else%>
                  <%= link_to "Logg inn", login_path %>
                  <%end%>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>