/*
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

img{
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

/* Overflow control */
/* body {
    overflow:scroll;
    overflow-x: hidden;
}
*/
