/*
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

img{
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.backgroundImage{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100em;
  min-height: 100%;
}

/* Overflow control */
/* body {
    overflow:scroll;
    overflow-x: hidden;
}
*/
