<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forside Barn</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="/stylesheet/css/bar.css" />
  <style>
      body {
          background: url("img/rlebakgrunn.jpg") no-repeat;
          background-attachment: fixed;
          background-position: center bottom;
          background-size: cover;
      }
  </style>
  <script src="js/vendor/modernizr.js"></script>
</head>

<body>
<!--MENU-->
<div class="fixed contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="./barnForside.html"><img id="siteLogo" src="/assets/barn/logos/salaby_logo_enkel_rød.png" alt="logo"></a>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#">Lærer/foreldre siden</a>
        </li>
        <li><a href="#">Min side</a>
        </li>
        <li><a href="#">Logg ut</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
<div class="row" id="mainMenu">

  <div class="large-3 medium-6 small-6 columns">
    <img src="./img/RLE/logo_liten.png" alt="logo">
  </div>
  <div class="large-3 medium-6 small-6 columns">
    <a href="./barnForside.html"><img id="backArrow" src="/assets/barn/arrowback.png" alt="Pil tilbake">
    </a>

  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h1 class="fagh">RLE</h1>
  </div>
</div>

<div id="test">

  <div class="row">
    <div class="large-3 small-6 medium-4 columns">
      <div id="align_center" class="align-center">
        <a href="hinduisme.html"><img src="/assets/barn/RLE/hinduisme.png" alt="Hinduismebilde">
        </a>
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div id="align_center" class="align-center">
        <img src="/assets/barn/RLE/islam.png" alt="Islambilde">
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div id="align_center" class="align-center">
        <img src="/assets/barn/RLE/kristendom.png" alt="Kristendombilde">
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">

      <div id="align_center" class="align-center">
        <img src="/assets/barn/RLE/jøde.png" alt="Jødedommenbilde">
      </div>

    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div id="align_center" class="align-center">
        <img src="/assets/barn/RLE/budd.png" alt="Buddhismebilde">
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div id="align_center" class="align-center">
        <img src="/assets/barn/RLE/sikhisme.png" alt="Sikhismebilde">
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div id="align_center" class="align-center">
        <img src="/assets/barn/RLE/etikk.png" alt="Etikkbilde">
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div id="align_center" class="align-center">
        <img src="/assets/barn/RLE/kirke.png" alt="Kirkebilde">
      </div>
    </div>
    <div class="large-3 small-6 medium-4 columns">
      <div id="align_center" class="align-center">
        <img src="/assets/barn/RLE/kunst2.png" alt="Kunstbilde">
      </div>
    </div>
    <div class="large-3"></div>
  </div>
</div>

<!-- Footer -->

<footer id="footer">
  <div class="row">
    <div class="large-4 columns">
      <div id="footerLogo">
        <img src="/assets/barn/logos/salaby_logo_enkel_grå.png" alt="logo">
      </div>
    </div>

    <div class="large-6 columns">
      <div id="footerMid">
        <ul>
          <li><a href="http://www.gyldendal.no/">© Gyldendal Norsk Forlag</a>
          </li>
          <li><a href="http://web3.gyldendal.no/support/specification/salaby">Systemkrav</a>
          </li>
          <li><a href="http://web3.gyldendal.no/support/contact/salaby">Send tilbakemelding</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="large-2 columns">
      <div id="socialLinks">
        <a href="https://www.facebook.com/salaby">
          <img src="/assets/barn/social/Facebook_logo.png" alt="Facebooklogo">
        </a>
        <a href="https://www.youtube.com/user/SalabyGyldendal">
          <img src="/assets/barn/social/youtube_logo.png" alt="Youtubelogo">
        </a>
      </div>
    </div>
  </div>
  <a href="#0" class="cd-top">Top</a>
</footer>

<!-- FOOTER SLUTT -->

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/main.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>
