.synlig {
    color: pink;
    font-size: 15pt;
}

    /*CONSTRUCTORS*/
body {
    background-image: url(/assets/index/skoleveien.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*******************************************************************************************/
/*ADULT SECTION STYLES*/

#adultSection {
    max-height: 30em;
    max-width: 100%;
    -webkit-transform: rotate(-40deg);
    position: absolute;
    top: -10em;
    left: -25em;
    overflow: hidden;
    border-bottom: black solid 5px;

}

#adultSection img {
    -webkit-transform: rotate(40deg);
    margin-top: 10em;
    min-width: 100%;
    transition: .2s all ease-in-out 0s;
}

#adultSection img:hover {
    -webkit-transform: rotate(40deg) scale(1.1,1.1);
}

.overlay{
    width: auto;
    height: auto;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    padding: 5px;
    top: 34em;
    left:10em;
    z-index: 2;
    
}
.overlay a {
    color: black;
    font-size: 20pt;

}
/*******************************************************************************************/
/*CHILD SECTION STYLES*/

#childSection {
    position: absolute;
    right: 20em;
    bottom: 0px;
    max-width: 800px;
    height: auto;
    z-index: 2;

}

#childSection h2 {
    color: white;
}

#personPos {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20em;
}
/***************MOBIL*********************/
@media only screen and (max-width: 40em) {

    
    body {
        overflow: hidden;
    }
    
    #childSection {
    position: absolute;
    min-width: 100%;
    z-index: 2;  
    right: 1px;
        background-color: rgba(0,0,0,0.5);
    }
    
    #personPos {
    display: none;
}
    
    
    

/*****************ADULT SECTION MOBIL**************/
#adultSection {
    max-height: 50%;
    min-width: 130%;
    -webkit-transform: rotate(0deg);
    position: absolute;
    top: -5em;
    left: -5em;
    overflow: hidden;
    border-bottom: black solid 5px;

}

#adultSection img {
    -webkit-transform: rotate(0deg);
    margin-top: 0em;
    min-width: 100em;
    transition: .2s all ease-in-out 0s;
}

#adultSection img:hover {
    -webkit-transform: rotate(0deg) scale(1,1);
    opacity: 0.5;
}

.overlay{
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    padding: 5px;
    text-align: center;
    top: 5em;;
    left:0em;
    z-index: 2;
    
}
.overlay a {
    color: black;
    font-size: 20pt;

}
}