.synlig {
    color: pink;
    font-size: 15pt;
}

/****************************************************CONSTRUCTORS********************/
body {
    /*background-image: url(/assets/index/skoleveien.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}

#background-image{
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100em; 
      min-height: 100%;

}

/*******************************************************************************************/
/*ADULT SECTION STYLES*/

#adultSection {
    max-height: 30em;
    max-width: 100%;
    -webkit-transform: rotate(-40deg);
    position: absolute;
    top: -10em;
    left: -25em;
    overflow: hidden;
    border-bottom: black solid 5px;
    /*-webkit-filter: grayscale(1);*/

}

#adultSection img {
    min-width: 100%;
    transition: .2s all ease-in-out 0s;
}

#adultSection img:hover {
    -webkit-transform: scale(1.1,1.1);
}




/*******************************************************************************************/
/*CHILD SECTION STYLES*/

#childSection {
    position: absolute;
    right: 20em;
    bottom: 0px;
    height: auto;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 5em;
    
}

#childSection label {
    color: white;
}

#childSection h2 {
    color: white;
}

#personPos {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20em;
    
}
/*

#adultSection:hover {
    -webkit-filter: grayscale(0);
}

#adultSection:hover ~ #background-image {
    -webkit-filter: grayscale(1);
}

/***************MOBIL*********************/
@media only screen and (max-width: 40em) {

    
    body {
        overflow: hidden;
    }
    
    #childSection {
    position: absolute;
    min-width: 100%;
    z-index: 2;  
    right: 1px;
    }
    
    #personPos {
    display: none;
}
    
    
    

/*****************ADULT SECTION MOBIL**************/
#adultSection {
    max-height: 50%;
    min-width: 130%;
    -webkit-transform: rotate(0deg);
    position: absolute;
    top: -5em;
    left: -5em;
    overflow: hidden;
    border-bottom: black solid 5px;

}

#adultSection img {
    -webkit-transform: rotate(-10deg);
    margin-top: 0em;
    min-width: 50em;
    transition: .2s all ease-in-out 0s;
}

#adultSection img:hover {
    -webkit-transform: rotate(-10deg) scale(1,1);
    opacity: 0.5;
}

}