<section id="test">

<div class="row">
    <div class="large-12 columns">
      <h1 class="fagh">Hellige Rom - Lær og test</h1>
    </div>
</div>

<section id="spillBG">
        <section id="bokser">
            <div id="ganesha">
                <div class="circle"></div>
                <audio id="ganeshaLyd">
                    <source src="/assets/barn/hinduisme/helligerom_spill/ganesha.m4a"></source>
                </audio>
            </div>
            <div id="vibhuti">
                <div class="circle"></div>
                <audio id="vibhutiLyd">
                    <source src="/assets/barn/hinduisme/helligerom_spill/vibhuti.m4a"></source>
                </audio>
            </div>
            <div id="rokelse">
                <div class="circle"></div>
                <audio id="rokelseLyd">
                    <source src="/assets/barn/hinduisme/helligerom_spill/rokelse.m4a"></source>
                </audio>
            </div>
            <div id="blomster">
                <div class="circle"></div>
                <audio id="blomsterLyd">
                    <source src="/assets/barn/hinduisme/helligerom_spill/blomster.m4a"></source>
                </audio>
            </div>
            <div id="offer">
                <div class="circle"></div>
                <audio id="offerLyd">
                    <source src="/assets/barn/hinduisme/helligerom_spill/offer.m4a"></source>
                </audio>
            </div>
            <div id="nextBtn">
                <img src="/assets/barn/hinduisme/helligerom_spill/arrow.svg" alt="">
            </div>
            <div id="draggable">
                <p class="navn ganesha" data-navn="ganesha">Ganesha</p>
                <p class="navn vibhuti" data-navn="vibhuti">Vibhuti</p>
                <p class="navn rokelse" data-navn="rokelse">Røkelse</p>
                <p class="navn blomster" data-navn="blomster">Blomster</p>
                <p class="navn offer" data-navn="offer">Offer</p>
            </div>
        </section>
    </section>
</section>