


<div id="islam-background-container">
<section class="test">

  <div class="row">
    <div class="large-12 columns">
      <h1 class="fagh">Islam</h1>
    </div>
  </div>
 
 <div class="row">
    <ul class="breadcrumbs">
        <li><a href="/static_pages/barn/forside.html">Hjem</a></li>
        <li class="unavailable"><a href="#">Kanal S</a></li>
        <li><a href="/static_pages/barn/rle">RLE</a></li>
        <li class="current"><a href="/static_pages/barn/rle">Islam</a></li>

    </ul>
  </div>

  

  <div class="test">

  <div class="row">
      <div class="large-3 small-6 medium-3 columns">
        <div class="align-center bilde-hover">
            <img src="/assets/barn/islam/fbonn.png" draggable="false" alt="Forberede bønn film">
        </div>
      </div>

      <div class="small-3">
        <div class="align-center bilde-hover"></div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
        <div class="align-center bilde-hover">
           <img src="/assets/barn/islam/bonn.png" draggable="false" alt="Bønn film">
        </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
        <div class="align-center bilde-hover">
            <img src="/assets/barn/islam/bonnest.png" draggable="false" alt="Bønnestillinger film">
        </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
        <div class="align-center bilde-hover">
            <img src="/assets/barn/islam/bonnetelt.png" draggable="false" alt="Bønnetelt film">
        </div>
      </div>
  </div>

  <div class="row">
      <div class="large-3 small-6 medium-3 columns">
        <div class="align-center bilde-hover">
            <img src="/assets/barn/islam/mihrab.png" draggable="false" alt="Mihrab film">
        </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
        <div class="align-center bilde-hover">
            <img src="/assets/barn/islam/minraet.png" draggable="false" alt="Minraet film">
        </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
        <div class="align-center bilde-hover">
            <img src="/assets/barn/islam/kalligrafi.png" draggable="false" alt="Kalligrafi film">
        </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
        <div class="align-center bilde-hover">
            <img src="/assets/barn/islam/kvinnedelen.png" draggable="false" alt="Kvinnedelen film">
        </div>
      </div>
  </div>

  <div class="row">
      <div class="large-6 small-6 medium-5 columns">
        <div class="align-center bilde-hover">
            <img src="/assets/barn/islam/film.png" draggable="false" alt="Film oppgaver">
        </div>
      </div>

      <div class="large-6 small-6 medium-5 columns">
        <div class="align-center bilde-hover">
            <img src="/assets/barn/islam/tegn.png" draggable="false" alt="Film med tegnspråk">
        </div>
      </div>
  </div>

  </div>
</section>



</div>
