<div id="jodedom-background-container">

  <div class="row">
    <div class="large-12 columns">
      <h1 class="fagh">JØDEDOMMEN</h1>
    </div>
  </div>

   <div class="row">
    <ul class="breadcrumbs">
        <li><a href="/static_pages/barn/forside.html">Hjem</a></li>
        <li class="unavailable"><a href="#">Kanal S</a></li>
        <li><a href="/static_pages/barn/rle">RLE</a></li>
        <li class="current"><a href="/static_pages/barn/rle">Jødedommen</a></li>

    </ul>
  </div>


  <div class="test">

    <div class="row">

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/jode.png" draggable="false" alt="Jødedommen bilde">
          </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/kippa.png" draggable="false" alt="Kippa bilde">
          </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn//jodedommen/bonn.png" draggable="false" alt="Bønn film">
          </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/tora.png" draggable="false" alt="Tora film">
          </div>
      </div>
  </div>

  <div class="row">
      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/shema.png" draggable="false" alt="Shema film">
          </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/filmoppgaver.png" draggable="false" alt="Filmoppgaver bilde">
          </div>
      </div>

      <div class="large-6 small-12 medium-5 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/tegn.png" draggable="false" alt="Film med tegnspråk">
          </div>
      </div>
   </div>
   
  </div>
</section>
    </div>


</div>