<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jødedommen</title>
  <link rel="stylesheet" href="/assets/barn/religion.css" />
  <style>
        body {
          background: url("/assets/barn/jodedommen/jodebkg.jpg") no-repeat;
          background-attachment: fixed;
          background-position: center bottom;
          background-size: cover;
          background-color: rgba(0,163,204, 0.3);
      }
  </style>
</head>

<body>

<!--HEADER-->
<%= render 'shared/page_header' %>
<!--HEADER END-->
    
<div id ="wrapper">
<section class="test">
  <div class="row" id="mainMenu">
    <div class="large-3 medium-6 small-6 columns">
      <img src="/assets/barn/RLE/logo_liten.png" draggable="false" alt="logo">
    </div>

    <div class="large-3 medium-6 small-6 columns">
      <a href="/static_pages/barn/rle"><img id="backArrow" src="/assets/barn/arrowback.png" draggable="false" alt="Pil tilbake"></a>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h1 class="fagh">JØDEDOMMEN</h1>
    </div>
  </div>

  <div class="test">

    <div class="row">

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/jode.png" draggable="false" alt="Jødedommen bilde">
          </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/kippa.png" draggable="false" alt="Kippa bilde">
          </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn//jodedommen/bonn.png" draggable="false" alt="Bønn film">
          </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/tora.png" draggable="false" alt="Tora film">
          </div>
      </div>
  </div>

  <div class="row">
      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/shema.png" draggable="false" alt="Shema film">
          </div>
      </div>

      <div class="large-3 small-6 medium-3 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/filmoppgaver.png" draggable="false" alt="Filmoppgaver bilde">
          </div>
      </div>

      <div class="large-6 small-12 medium-5 columns">
          <div class="align-center bilde-hover">
              <img src="/assets/barn/jodedommen/tegn.png" draggable="false" alt="Film med tegnspråk">
          </div>
      </div>
   </div>
   
  </div>
</section>
    </div>

<!-- Footer -->

<%= render 'shared/page_footer' %>

<!-- FOOTER SLUTT -->


<script>
    $(document).foundation();
</script>
</body>

</html>