
/***********************************CONSTRUCTORS**************************************/
body {
    /*background-image: url("../img/skoleveien.jpg");*/
    background-color: #ccc;

}

.breadcrumbs {
    background-color: transparent;
}
 #wrapper {
     padding-top: 10em;
 }



/*---------HEADER START---------*/
#mainHeader {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: solid thin #222;
    margin-bottom: 20px;
    top: 0;
    position: fixed;
    z-index: 10;
}



/*HEADER SLUTT*/
#siteLogo {
    width: 200px;
    /*margin-left: -50px;*/
    margin-bottom: 10px;
    cursor: pointer;
}
.menuHeader {
    width: 100%;
    height: 25px;
    top: 25px;
    position: relative;
}

.menuHeader a .ac{
    color: blue;
}
/*---------Headerområde SLUTT---------*/
/*---------PROMOOMRÅDE START---------*/
#promoBanner {
    width: 100%;
    height: 400px;
    background-color: rgba(200,50,20,0.5);
}
/*---------PROMOOMRÅDE SLUTT---------*/
/*---------ARTICLEOMRÅDE START---------*/

#articleOmrade {
    width: 100%;
    height: auto;
    padding-top: 2em;
}

#articleOmrade article {
    display: inline;
}

.articleImg {
    float: left;
}

#articleOmrade article p {
    padding: 5px;
}

#articleOmrade article h3 {
    padding: 5px;
    border-bottom: solid thin #888;
}

/*---------ARTICLEOMRÅDE SLUTT---------*/

/*----------Hovedmeny SLUTT!!-----------*/






/*---------Footer!!-----------*/
#footer{
    width: 100%;
    background-color: #858585;
    height: auto;
    position:static;
    bottom: 0px;
    margin-top: 50px;
}


#footerLogo img{
    width: 200px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
#footerLogo img:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}

#footerMid{
    margin-top: 40px;
}
#footerMid li a{
    color: white;
}
#footerMid li a:hover{
    color: rgb(200,200,200);
}

#socialLinks img{
    width: 60px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

#socialLinks img:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}

/*---------Footer SLUTT!!-----------*/


ul {
    list-style: none;
    display: inline-block;
}
li a {
    display: block;
    margin-left: 10px;
    color: #888;
}
li a:hover {
    color: #007095;
}
ul li {
    display: inline-block;
}


/*HIDE ELEMENTS*/
.kanalS{
    display: none;
}



/*STYLE FOR KOMPETANSE SIDEN*/
#innholdWrapper {
    margin-bottom: 5em;
    width: 100%;
    height: 300px;
}

#samfunnAco, #norskAco, #engelskAco, #mohAco, #kohAco, #naturAco, #rleAco, #matteAco, #naturAco, #musikkAco  {
    display: none;
}

#samfunnAco:target {
    display: inherit;
}

#norskAco:target {
    display: inherit;
}

#engelskAco:target {
    display: inherit;
}

#mohAco:target {
    display: inherit;
}

#kohAco:target {
    display: inherit;
}

#naturAco:target {
    display: inherit;
}

#rleAco:target {
    display: inherit;
}

#matteAco:target {
    display: inherit;
}

#samfunnAco:target {
    display: inherit;
}

#naturAco:target {
    display: inherit;
}

#musikkAco:target {
    display: inherit;
}