

/*********************************************************************************************************/
/*STYLE FOR KOMPETANSE SIDEN*/
#innholdWrapper {
    width: 100%;
    height: 300px;
}

#samfunnAco, #norskAco, #engelskAco, #mohAco, #kohAco, #naturAco, #rleAco, #matteAco, #naturAco, #musikkAco  {
    display: none;
}


/**********************EVENTS************************/
#samfunnAco:target {
    display: inherit;
}

#norskAco:target {
    display: inherit;
}

#engelskAco:target {
    display: inherit;
}

#mohAco:target {
    display: inherit;
}

#kohAco:target {
    display: inherit;
}

#naturAco:target {
    display: inherit;
}

#rleAco:target {
    display: inherit;
}

#matteAco:target {
    display: inherit;
}

#samfunnAco:target {
    display: inherit;
}

#naturAco:target {
    display: inherit;
}

#musikkAco:target {
    display: inherit;
}

/***************************LISTE ELEMENTER*******************************************/


.accordion-navigation ul li {
    display: block;
}

.accordion-navigation ul li:first-letter {

    text-transform: capitalize;
    
}