@media only screen and (min-width: 64.063em) { 
/***********************************CONSTRUCTORS**************************************/
body {
    /*background-image: url("../img/naturfag_akvarium.jpg");*/
    background-color: #ccc;
}

.breadcrumbs {
    background-color: transparent;
}
 #wrapper {
     padding-top: 5em;
     min-height: 100%;
 }

#kompetanse {
    min-height: 100%;
}


/*---------HEADER START---------*/
#mainHeader {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: solid thin #222;
    margin-bottom: 20px;
    top: 0;
    position: fixed;
    z-index: 10;
}
/*HEADER SLUTT*/

#siteLogo {
    width: 200px;
    /*margin-left: -50px;*/
    margin-bottom: 10px;
    cursor: pointer;
}
.menuHeader {
    width: 100%;
    height: 25px;
    top: 25px;
    position: relative;
}

.menuHeader a .ac{
    color: blue;
}
/*---------Headerområde SLUTT---------*/
/*---------PROMOOMRÅDE START---------*/
#promoBanner{
    width: 100%;
    height: 350px;
    /*background-color: rgba(200,50,20,0.5);*/
}
#promobannerTextBox{
    width: 300px;
    height: 350px;
    padding: 20px;
    overflow: hidden;
}
#promoBanner *{
    float: left;
}
#promoBanner img{
    margin: 20px;
}

/*---------PROMOOMRÅDE SLUTT---------*/
/*---------ARTICLEOMRÅDE START---------*/

#articleOmrade {
    width: 100%;
    height: 30em;
    padding-top: 1em;
}

#articleOmrade article {
    display: inline;
}

.articleImg {
    float: left;
}

#articleOmrade article p {
    padding: 5px;
}

#articleOmrade article h3 {
    padding: 5px;
    border-bottom: solid thin #888;
}

/*---------ARTICLEOMRÅDE SLUTT---------*/

/*----------Hovedmeny SLUTT!!-----------*/









/*HIDE ELEMENTS*/
.kanalS{
    display: none;
}

}
@media only screen and (max-width: 73.063em) {

body{
    background-color: red;
}
    
#wrapper {
    margin-top: 3em;
}
}