body {
    /*background-image: url("../img/naturfag_akvarium.jpg");*/
    
    background-color: #ccc;
}


@media only screen and (min-width: 64.063em) {
    /***********************************CONSTRUCTORS**************************************/
    .row {
    min-width: 70em;
}
    .breadcrumbs {
        background-color: transparent;
    }
    #wrapper {
        padding-top: 5em;
        min-height: 100%;
    }
    #kompetanse {
        min-height: 100%;
    }
    /*---------HEADER START---------*/
    
    #mainHeader {
        width: 100%;
        background-color: #f2f2f2;
        border-bottom: solid thin #222;
        margin-bottom: 20px;
        top: 0;
        position: fixed;
        z-index: 10;
    }
    /*HEADER SLUTT*/
    
    #siteLogo {
        width: 200px;
        /*margin-left: -50px;*/
        
        margin-bottom: 10px;
        cursor: pointer;
    }
    .menuHeader {
        width: 100%;
        height: 25px;
        top: 25px;
        position: relative;
    }
    .menuHeader a .ac {
        color: blue;
    }
    /*---------Headerområde SLUTT---------*/
    /*---------PROMOOMRÅDE START---------*/
    
    #promoBanner {
        width: 100%;
        height: 350px;
        /*background-color: rgba(200,50,20,0.5);*/
    }
    #promobannerTextBox {
        width: 300px;
        height: 350px;
        padding: 20px;
        overflow: hidden;
    }
    #promoBanner * {
        float: left;
    }
    #promoBanner img {
        margin: 20px;
    }
    /*---------PROMOOMRÅDE SLUTT---------*/
    /*---------ARTICLEOMRÅDE START---------*/
    
    #articleOmrade {
        width: 100%;
        height: 30em;
        padding-top: 1em;
    }
    #articleOmrade article {
        display: inline;
    }
    .articleImg {
        float: left;
    }
    #articleOmrade article p {
        padding: 5px;
    }
    #articleOmrade article h3 {
        padding: 5px;
        border-bottom: solid thin #888;
    }
    /*---------ARTICLEOMRÅDE SLUTT---------*/
    /*----------Hovedmeny SLUTT!!-----------*/
    /*---------PAYMENT AREA START---------*/
    
    #paymentArea {
        width: 100%;
        height: auto;
        text-align: left;
        margin-bottom: 5em;
    }
    #cart {
        height: auto;
        width: 80%;
        padding: 15px;
        background-color: #fff;
    }
    .inFocus {
        background-color: #f3f3f3;
        width: 100%;
        height: 6em;
        padding: 15px;
    }
    fieldset legend {
        background-color: #ccc;
        font-size: 20pt;
    }
    label {
        font-size: 15pt;
    }
    /*---------PAYMENT AREA SLUTT---------*/
    /*HIDE ELEMENTS*/
    
    .kanalS {
        display: none;
    }
}

@media only screen and (max-width: 73.063em) {
    #wrapper {
        margin-top: 3em;
    }
}