<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation | Welcome</title>
  <link rel="stylesheet" href="/assets/index/intro.css" />
</head>

<body>

<!--ADULT SECTION-->
<div id="adultSection">
  <div class="row">
    <div class="small-12 columns">
      <div class="overlay">
        <%= link_to "Til voksensiden", static_pages_info_forside_path %> 
      </div>
    </div>
    <div class="small-12 columns">
        <img src="assets/index/adultSection.jpg">
        <%= link_to "Til voksensiden", static_pages_info_forside_path %>
    </div>
  </div>
</div>

<!--CHILD SECTION-->
<div id="childSection">
  <div class="row">
    <div class="large-6 small-12 columns">
      <h2>Velkommen til Salaby</h2>
    </div>
  </div>
  <div id="row">
    <div class="large-12 medium-12 small-12 columns">
      <label>Innlogging
        <input id="userField" type="text" placeholder="Brukernavn" />
        <input id="passField" type="password" placeholder="Passord" />
        <input id="loginBtn" type="button" class="button expand" value="Logg inn">
        <div class="small-12 small-12 medium-12 columns">
        <div class="synlig">
        <%= link_to "Alternativ link til barneforside.", static_pages_barn_forside_path %>
        </div>
        </div>
      </label>
    </div>
  </div>
</div>
<div id="personPos">
  <div class="row">
    <div class="large-12 small-12 columns">
      <img src="assets/index/Emre_1.png">
    </div>
  </div>
</div>

<script src="../js/loginBtnShow.js"></script>
<script src="js/menuHeadScript.js"></script>
</body>

</html>
