<img src="/assets/barn/skoleveien.jpg" id="background_image" alt="bakgrunnsbilde">
    
<!--ADULT SECTION-->
<div id="adultSection">
  <div class="row">
    <div class="large-12 columns">
        <%= link_to image_tag("index/adultSection.png", border: 0), static_pages_info_forside_path %>
    </div>
    <div class="large-12 columns">
    </div>
  </div>
</div>

<!--CHILD SECTION-->
<div id="childSection">
  <div class="row">
    <div class="large-12 small-12 columns">
      <h2>Velkommen til Salaby</h2>
    </div>
  </div>
  <div id="row">
    <div class="large-12 medium-12 small-12 columns">
<%= render 'sessions/form' %>
        <div class="synlig">
        <%= link_to "Alternativ link til barneforside.", static_pages_barn_forside_path %>
        </div>
    </div>
  </div>
</div>
<div id="personPos">
  <div class="row">
    <div class="large-6 small-12 columns">
      <img src="assets/index/Emre_1.png" alt="Emre Person">
    </div>
  </div>
</div>