/*---------Footer!!-----------*/
#footer{
    width: 100%;
    background-color: #858585;
    height: auto;
    bottom: 0;
    margin-top: 50px;
}


#footerLogo img{
    width: 200px;
    margin: 15px;
}


#footerMid{
    margin-top: 40px;
}
#footerMid li a{
    color: white;
}
#footerMid li a:hover{
    color: rgb(200,200,200);
}

#socialLinks img{
    width: 60px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

#socialLinks img:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}

#footer ul {
    list-style: none;
    display: inline-block;
}
#footer li a {
    display: block;
    margin-left: 10px;
    color: white;
    transition: 0.2s all ease-in-out 0s;
}
#footer li a:hover {
    color: #007095;
}
#footer ul li {
    display: inline-block;
}
    
/*---------Footer SLUTT!!-----------*/
@media only screen and (max-width: 40.063em) {
    #footer {
        text-align: center;
    }
    
    
}
