/*---------Footer!!-----------*/
#footer{
    width: 100%;
    background-color: #858585;
    height: auto;
    bottom: 0;
    margin-top: 50px;
}

#footerLogo img{
    width: 200px;
    margin: 15px;
}

#footerMid{
    margin-top: 40px;
}
#footerMid li a{
    color: white;
}
#footerMid li a:hover{
    color: rgb(200,200,200);
}

#socialLinks img{
    width: 60px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

#socialLinks img:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}

#footer ul {
    list-style: none;
    display: inline-block;
}
#footer li a {
    display: block;
    margin-left: 10px;
    color: white;
    transition: 0.2s all ease-in-out 0s;
}
#footer li a:hover {
    color: #007095;
}
#footer ul li {
    display: inline-block;
}

/*---------Footer SLUTT!!-----------*/
@media only screen and (max-width: 40.063em) {
    #footer {
        text-align: center;
    }
}

/*STYLING PÅ TILBAKE TIL TOP KNAPPEN*/

.cd-top {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */

    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #cc3327 url(/assets/barn/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;

    
}
.cd-top.cd-is-visible {
    /* the button becomes visible */

    visibility: visible;
    opacity: 1;
}

.cd-top{
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.cd-top:hover {
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
}

/*END PÅ STYLING PÅ TILBAKE TIL TOP*/