#contentArea {
    
};

#favorites{
    
};
#userInfo{
    display: none;
};

h1 {
    color: red;
}

#bgUser {
    max-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#bgUser img{
  min-width: 100%;  
}

#UserWrapper{
    min-height: 90%;
}

.placeholderImg {
    width: 200px;
    height: 200px;
    float: right;
    background-color: red;
    top: 0;
    position: relative;
}