#contentArea {
    
};

#favorites{
    
};
#userInfo{
    display: none;
};

h1 {
    color: red;
}

body {
    background: url("/assets/barn/skoleveien.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow:scroll;
    overflow-x: hidden;
}

#wrapper{
    min-height: 100%;
}

.placeholderImg {
    width: 200px;
    height: 200px;
    float: right;
    background-color: red;
    top: 0;
    position: relative;
}