<!-- salaby logo -->
<link rel="stylesheet" href="/assets/shared/footer.css" />

<footer id="footer" class="large-12 columns">
  <div id="footerLogo" class="large-4 columns">
    <img src="/assets/voksen/logos/salaby_logo_enkel_r%C3%B8d.png" alt="footer logo">
  </div>
  <!-- lenker i midten -->
  <div id="footerMid" class="large-6 columns">
    <ul>
      <li><a href="http://www.gyldendal.no/">© Gyldendal Norsk Forlag</a>
      </li>
      <li><a href="http://web3.gyldendal.no/support/specification/salaby">Systemkrav</a>
      </li>
      <li><a href="http://web3.gyldendal.no/support/contact/salaby">Send tilbakemelding</a>
      </li>
    </ul>
  </div>
  <!-- sosiale medier -->
  <div id="socialLinks" class="large-2 columns">
    <a href="https://www.facebook.com/salaby">
      <img src="/assets/voksen/social/Facebook_logo.png" alt="facebook logo">
    </a>
    <a href="https://www.youtube.com/user/SalabyGyldendal">
      <img src="/assets/voksen/social/youtube_logo.png" alt="youtube logo">
    </a>
  </div>
  <a href="#0" class="cd-top">top</a>
</footer>

