        <ul class="side-nav">
          <li><%=link_to "Om Salaby", static_pages_info_forside_path %>
          </li>
          <li><%=link_to "Om Skoleveien 1-2 Trinn", static_pages_info_forside_path %>
              
          </li>
          <li><%=link_to "Om Byparken 3-4 Trinn", static_pages_info_forside_path %>
          </li>
          <li><%=link_to "Om Kanal S 5-7 Trinn", static_pages_info_forside_path %>
          </li>
        </ul>