<!--MENU-->
<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="../index.html">
          <img id="siteLogo" src="/assets/logos/salaby_logo_enkel_rod.png" alt="logo">
        </a>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="../Voksen/voksenForside.html">Lærer/foreldre siden</a>
        </li>
        <li><a href="#">Min side</a>
        </li>
        <li><% if logged_in?%>
              <%= link_to "Logg ut", logout_path, method: "delete"%>
          <%else%>
              <%= link_to "Logg inn", login_path %>
          <%end%>
        </li>
      </ul>
    </section>
  </nav>
</div>