/*---------Headerområde!!---------*/
#mainHeader {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: solid thin #222;
    margin-bottom: 20px;
    position: fixed;
    z-index: 10;
}
#siteLogo {
    width: 200px;
    /*margin-left: -50px;*/
    margin-bottom: 10px;
    cursor: pointer;
}
.menuHeader {
    width: 100%;
    height: 25px;
    top: 25px;
    position: relative;
}
/*---------Headerområde SLUTT!!---------*/

/*---------Hovedområde!!---------*/

    /*----------Hovedmeny!!-----------*/
.menu-option {
/*  border: solid thin #444;
    background-color: white;*/
    text-align: center;
    margin-top: 100px;
}

.menu-option img {
    max-width: 300px;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;
}

.menu-option img:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}

.menu{
    margin-bottom: 10px;
}
/*for å tilpasse skoleveien menyen til hovedmenyen!!*/
#skoleveienMenu .columns .menu-option{
    margin-top: 0;
}

    /*----------Hovedmeny SLUTT!!-----------*/

body {
    background-image: url("../img/skoleveien.jpg");
}

#wrapper{
    min-height: 100%;
}

.align-center{
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;
}

.align-center:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}

/*---------Hovedområde SLUTT!!---------*/



/*---------Footer!!-----------*/
#footer{
    width: 100%;
    background-color: #858585;
    height: auto;
    margin-top: 50px;
    /*position: absolute;*/
    bottom: 0;
}

#footerLogo img{
    width: 200px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15s ease-in-out 0s;
}
#footerLogo img:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}

#footerMid{
    margin-top: 40px;
}
#footerMid li a{
    color: white;
}
#footerMid li a:hover{
    color: rgb(200,200,200);
}

#socialLinks img{
    width: 60px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    -o-transition: all 0.15.s ease-in-out 0s;
}

#socialLinks img:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}

/*---------Footer SLUTT!!-----------*/


ul {
    list-style: none;
    display: inline-block;
}
li a {
    display: block;
    margin-left: 10px;
    color: #888;
}
li a:hover {
    color: #007095;
}
ul li {
    display: inline-block;
}

/*HIDE ELEMENTS*/
.kanalS{
    display: none;
}
.barnehage{
    display: none;
}
.MFL{
    display: none;
}
#skoleveienMenu{
    display: none;
}