@media only screen and (max-width: 40em) {
  
    .menu{
        display: none;
    }
    #barnehageButtonMobil, #skoleveienButtonMobil, 
    #kanalSButtonMobil, #MFLButtonMobil{
    	display: block;
    }
    /*m책 finne en annen m책te 책 gjemme elementene p책...*/
   /* .align-center{
    	display: none;
    }*/

    .menu-option img{
    	max-width: 200px;
    }

    .columns .menu-option{
    	margin-top: 20px;
    }

    
  }