#mainHeader {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: solid thin #222;
    margin-bottom: 20px;
}
body {
    background-image: url("../img/skoleveien.jpg");
    height: 2000px;
}
.align-center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.menu-option {
    border: solid thin #444;
    max-width: 30em;
    cursor: pointer;
}
.menuHeader {
    width: 100%;
    height: 25px;
    top: 25px;
    position: relative;
}
ul {
    list-style: none;
    display: inline-block;
}
li a {
    display: block;
    margin-left: 10px;
    color: #888;
}
li a:hover {
    color: #007095;
}
ul li {
    display: inline-block;
}