/*---------Headeromr책de!!---------*/
#mainHeader {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: solid thin #222;
    margin-bottom: 20px;
    position: fixed;
    z-index: 10;
}
#siteLogo{
    width: 250px;
    margin-left: -50px;
    margin-bottom: 10px;
    cursor: pointer;
}
.menuHeader {
    width: 100%;
    height: 25px;
    top: 25px;
    position: relative;
}
/*---------Headeromr책de SLUTT!!---------*/

/*---------Hovedomr책de!!---------*/

    /*----------Hovedmeny!!-----------*/
.menu-option {
    border: solid thin #444;
    cursor: pointer;
    margin-top: 100px;
    background-color: white;
    text-align: center;
}

.menu-option img {
    max-width: 300px;
}

#mainMenu{
    margin-bottom: 20px;
}

    /*----------Hovedmeny SLUTT!!-----------*/



body {
    background-image: url("../img/skoleveien.jpg");
    height: 2000px;
}
.align-center{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    /*transition: transform 0.5s;*/
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}

.align-center:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    opacity: 0.7;
}
/*---------Hovedomr책de SLUTT!!---------*/

ul {
    list-style: none;
    display: inline-block;
}
li a {
    display: block;
    margin-left: 10px;
    color: #888;
}
li a:hover {
    color: #007095;
}
ul li {
    display: inline-block;
}